<div>
    <div class="row pageHeader" style="padding: 30px;">
        <div class="col-md-12 pageHeader">
            <span style="font-weight: bold; font-size: 30px">Sales History</span>
        </div>
    </div>
    <div class="row productBtns" style="padding: 30px;">
        <div class="col-md-4 productBtn">

            <div class="form-group">
                <label for="sales_Date" class="required">Start Date</label>
                <div class="input-group calendar-group fromDate">
                    <input type="text"
                           style="height: 52px; width: 100%; background-color: #FFFFFF;"
                           ng-model="startDate" class="form-control fromDate"
                           datepicker-popup="{{'yyyy-MM-dd'}}" required
                           ng-model-options="{allowInvalid: true}" name="startDate"
                           is-open="openStart" date-cleared="dateCleared" date-length="10"
                           id="startDate" placeholder="YYYY-MM-DD" disabled="disabled"
                           max-date="maxDate"> <span class="input-group-btn">
						<button type="button" class="btn btn-default"
                                ng-click="openStartCalendar($event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
                </div>

            </div>
        </div>
    </div>
    <div class="row productBtns" style="padding: 30px;">
        <div class="col-md-12">
            <div data-responsive-table data-ng-model="getClockHistory"  data-current-page="currentPageIndexArr"
                 class="full-width" data-page-size="pageSize" data-sort-column="selectedIndex" data-sort-ascending="isAsc"
                 on-sort="sortColumnData(index)" >
                <columns>
                    <column name="User Name" key="username" datatype="string" width="14%" sortable="true"></column>
                    <column name="Clock In Time" key="clockInTime" datatype="string" width="14%"></column>
                    <column name="Clock Out Time" key="clockOutTime" datatype="string" width="14%"></column>
                    <column name="No Of Hours" key="noOfhours" datatype="string" width="14%"></column>
                    <column name="HrlyRate" key="HrlyRate" datatype="string" width="14%"></column>
                    <column name="Total" key="HrlyRate" datatype="string" width="14%"></column>
                    <column name="" key="" datatype="" width="16%">
                        <cell ng-non-bindable>

                            <span class="inline-vertical padding-left-10">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true" style="cursor:pointer;" ng-click="scope.editUser(row)"></span>
							</span>
                            <span class="inline-vertical padding-left-10">
								<span class="glyphicon glyphicon-trash" aria-hidden="true" style="cusrsor:pointer;" ng-click="scope.deleteUser(row.id)"></span>
							</span>

                        </cell>
                    </column>
                </columns>
            </div>
            </div>
        </div>

</div>
