<div>
    <div class="row pageHeader" style="padding: 30px;">
        <div class="col-md-12 pageHeader">
            <span style="font-weight: bold; font-size: 30px">User ClockIn Management</span>
        </div>
    </div>
    <div class="row productBtns" style="padding: 30px;">
        <div class="col-md-4 productBtn">

            <div class="form-group">
                <label for="sales_Date" class="required">Start Date</label>
                <div class="input-group calendar-group fromDate">
                    <input type="text"
                           style="height: 52px; width: 100%; background-color: #FFFFFF;"
                           ng-model="startDate" class="form-control fromDate"
                           datepicker-popup="{{'yyyy-MM-dd'}}" required
                           ng-model-options="{allowInvalid: true}" name="startDate"
                           is-open="openStart" date-cleared="dateCleared" date-length="10"
                           id="startDate" placeholder="YYYY-MM-DD" disabled="disabled"
                            max-date="maxDate"> <span class="input-group-btn" >
						<button type="button" class="btn btn-default"
                                ng-click="openStartCalendar($event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
                </div>

            </div>
        </div>
    </div>
    <div class="row productBtns" style="padding: 30px;">
        <div class="col-md-12">
            <div class="fullwidth constrained">
                <table  class="table table-striped table-middle table-bordered table-head-bordered" infinite-scroll="increaseLimit()" infinite-scroll-container='".constrained"'>
                    <thead>
                    <tr>
                        <th style="font-weight:bold;" class="wrapword">
                            <span>User Name</span>
                        </th>
                        <th style="font-weight:bold;" class="wrapword">
                            <span>Clock In Time</span>
                        </th>
                        <th style="font-weight:bold;" class="wrapword">
                            <span>Clock Out Time</span>
                        </th>
                        <th style="font-weight:bold;" class="wrapword">
                            <span>No Of Hours</span>
                        </th>
                        <th style="font-weight:bold;" class="wrapword">
                            <span>Hrly Rate</span>
                        </th>
                        <th style="font-weight:bold;" class="wrapword">
                            <span>Total</span>
                        </th>
                        <th style="font-weight:bold;" class="wrapword">
                            <span style="visibility:hidden;">Product No</span>
                        </th>

                    </tr>
                    </thead>
                    <tfoot ng-show="clockdata.length === 0">
                    <tr class="center-align">
                        <td colspan="5" class="padding-2">
                            <span ng-show="emptyMessage" class="empty-message">{{emptyMessage}}</span>
                            <span ng-hide="emptyMessage" class="empty-message">No data available.</span>
                        </td>
                    </tr>
                    </tfoot>
                    <tbody >
                    <tr data-ng-repeat="row in clockdata   | limitTo:barLimit">
                        <td class="wrapword" style="width:14%;"><span>{{row.username}}</span></td>
                        <td class="wrapword" style="width:14%;"><span>{{row.clockInTime}}</span></td>
                        <td class="wrapword" style="width:14%;"><span>{{row.clockOutTime}}</span></td>
                        <td class="wrapword" style="width:14%;"><span>{{row.noOfhours}}</span></td>
                        <td class="wrapword" style="width:14%;"><span>{{row.hrlyRate}}</span></td>
                        <td class="wrapword" style="width:14%;"><span>{{row.total}}</span></td>
                        <td class="wrapword" style="width:16%;">
					 <span class="inline-vertical padding-left-10">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true" style="cursor:pointer;" ng-click="editClockIn(row)"></span>
							</span>
                            <span class="inline-vertical padding-left-10">
								<span class="glyphicon glyphicon-trash" aria-hidden="true" style="cusrsor:pointer;" ng-click="deleteClockIn(row.id)"></span>
							</span>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>

</div>
