<div>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" data-ng-click="closeCreateUser()">&times;</button>
		<h4 class="modal-title" style="font-size:30px;"><span ng-show="!GlobalVariable.editUser">New User</span><span ng-show="GlobalVariable.editUser">Edit User</span></h4>
	</div>

<div class="modal-body" style="padding:0px;">

	<div class="row" style="padding:30px;">


	<div class="col-md-12" style="padding-top:20px;">
		<div class="row">
				<div class="col-md-12">
                        <label for="userName" class="padding-bottom-5 font-weight-label">UserName</label>
                        <input type="text" ng-disabled="GlobalVariable.editUser" class="form-control" name="userName" id="userName" data-ng-model="userName"
                        autocomplete="off" autofocus  style="width:100%;height:50px;" />
				</div>
		</div>
		<div class="row padding-top-15">
				<div class="col-md-6">
                        <label for="newPassword" class="padding-bottom-5 font-weight-label">New Password</label>
                        <input type="password" class="form-control" name="newPassword" id="newPassword" data-ng-model="newPassword"
                        autocomplete="off"  style="width:100%;height:50px;" />
				</div>
				<div class="col-md-6">
                        <label for="newRePassword" class="padding-bottom-5 font-weight-label">Re-Enter New Password</label>
                        <input type="password" class="form-control"  data-proxtra-message="REGAUTH122" name="newRePassword" id="newRePassword" data-ng-model="newRePassword"
                        autocomplete="off"  style="width:100%;height:50px;" />
				</div>
			</div>
			<div class="row padding-top-15">
				<div class="col-md-6">
                        <label for="hrlyRate" class="padding-bottom-5 font-weight-label">Hourly Rate</label>
                        <input type="text" class="form-control" name="hrlyRate" id="hrlyRate" data-ng-model="hrlyRate"
                        autocomplete="off"  style="width:100%;height:50px;" data-restrict-characters="restrictCharacter.NumericWithPeriod.Decimal"/>
				</div>
				<div class="col-md-6">
                        <label for="comPer" class="padding-bottom-5 font-weight-label">Commission Per</label>
                        <input type="text" class="form-control" name="comPer" id="comPer" data-ng-model="comPer"
                        autocomplete="off"  style="width:100%;height:50px;" data-restrict-characters="restrictCharacter.NumericWithPeriod.Decimal" />
				</div>
			</div>
			<div class="row padding-top-15">
				<div class="col-md-12">
                        <label for="userRole" class="padding-bottom-5 font-weight-label">User Role</label>
					<select id="custType" data-ng-model="userRole" class="form-control"  style="height:50px;width:100%;">
						<option value="Admin">Admin</option>
						<option value="Manager">Manager</option>
					</select>

				</div>
		</div>
	</div>

</div>
</div>
<div class="modal-footer">
	 <div class="row alignCenter">
	 	<button ng-show="!GlobalVariable.editUser" class="btn btn-primary margin-top-1 wrap-text" style="font-size:18px;" ng-click="addUser()">Create User</button>
		 <button ng-show="GlobalVariable.editUser" class="btn btn-primary margin-top-1 wrap-text" style="font-size:18px;" ng-click="editUser()">Edit User</button>
 	</div>	
	</div>
</div>