html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	min-height:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.app-background
{
	background-image: url("../images/thd-metal-bg.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header
{
	background-color: #3b4954;
	min-height:20px;
	padding:15px;
}
.mainHeader
{
	
}
.headerRightItems
{
	    
    color: #9ba2a8;
    padding-top: 2px;
	float:right;
}
.prd-drop .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.admin-sidebar {
		-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-ms-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	width: 100px;
	height: 100%;
	position: fixed;
	z-index: 4;
	background-color: #ebebeb;
	
}
@media ( max-width : 770px){
	.admin-sidebar {
		position: absolute !important;/* 
		top: 70px;
 */	}
}
@media only screen and (min-width:771px) and (max-width: 962px) {
	.show-nav.admin-sidebar {
		left: 0;
	/* 	top: 70px; */
	}
}
@media ( max-width : 480px) {
	.admin-sidebar {
		position: absolute !important;
		/* top: 50px; */
	}
}
.show-nav {
	-webkit-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-ms-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.show-nav.admin-sidebar {
	/*  top: 70px;*/

}

@media ( max-width : 962px) {
	.show-nav.admin-sidebar {
		left: 0;
		/*  top: 70px;*/
	}
}

@media ( max-width : 820px) {
	.admin-nav {
		-webkit-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
		-moz-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
		-ms-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
		-o-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
		visibility: hidden;
		display: none;
	}
	.show-nav.admin-sidebar {
		/* top: 70px;*/

	}
}

@media ( max-width : 500px) {
	.show-nav.admin-sidebar {
		left: 0;
		min-height: 500px;
		/* top: 70px;*/
	}
}

@media ( max-width : 480px) {
	.show-nav.admin-sidebar {
		/* top: 0px; */
	}
}

.nav-primary .list-group-item {
	-webkit-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	-moz-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	-ms-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	-o-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	word-wrap: break-word;
	background-color: transparent;
	border: none;
	color: #b3b3b3;
	padding: 13px 20px;
	border-top: 1px solid #222222;
}

.companyNavDropdown {
	background: transparent;
	border: #666666 1px solid;
	padding: 10px;
	color: #ffffff;
}

.companyNavDropdown:hover,.companyNavDropdown:focus {
	color: #ffffff;
}

.nav-primary .list-group-item:hover {
	background-color: #222222;
	padding-left: 26px;
	cursor: pointer;
}

.nav-primary .list-group-item.active {
	border-top: #222222;
	background-color: #222222;
}

.nav-primary .list-group-item.active:hover {
	background-color: #222222;
}

@media ( max-width : 768px) {
	.nav-primary .list-group-item {
		padding: 8px 20px;
	}
}
@media ( max-width : 340px) {
	.nav-primary .list-group-item {
		padding: 5px 20px;
		font-size:11px;
	}
}

.nav-primary .assist-block {
	padding: 10px 20px 10px 20px;
}

@media ( max-width : 480px) {
	.nav-primary .assist-block {
	padding: 5px 20px 4px 20px;
	}
}

.toggle-nav {
	-webkit-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	-moz-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	-ms-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	-o-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	filter: alpha(opacity = 0);
	color: rgba(255, 255, 255, 0.6);
	position: relative;
	padding-right: 20px;
	cursor: pointer;
	vertical-align:middle;
}

.toggle-nav:focus,.toggle-nav:hover,.toggle-nav:active,.toggle-nav:visited {
	color: rgba(255, 255, 255, 0.6);
}

.toggle-nav .fa {
	-webkit-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	-moz-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	-ms-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	-o-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.toggle-nav.show-nav {
	-webkit-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	-moz-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	-ms-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	-o-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
	color: white;
}

.toggle-nav.show-nav:focus,.toggle-nav.show-nav:hover,.toggle-nav.show-nav:active,.toggle-nav.show-nav:visited {
	color: white;
}

.toggle-nav.show-nav .fa {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
/*@media (max-width: 1280px) {

  .toggle-nav {
    opacity: 1;
    filter: alpha(opacity=100);
    display: inline-block;
    visibility: visible;
  }
}*/
@media ( max-width : 960px) {
	/* line 197*/
	.toggle-nav {
		opacity: 1;
		filter: alpha(opacity = 100);
		display: inline-block;
		visibility: visible;
	}
}

@media ( max-width : 480px) {
	.toggle-nav {
		margin-top: 13px;
	}
}

.toggle-nav .fa {
	font-size: 24px;
}

.mainContainer
{
	width:100%;
	height:auto;
}
.sidebar {
	position: fixed;
	left: 0;
	margin-bottom: 65px;
	bottom: 0;
	top: 0;
	padding-top: 70px;
	z-index: 999;
height: 100%;
}
div.list-group-item:hover,div.list-group-item:focus {
	color: #fff;
}
div.list-group-item.menuActive,div.list-group-item.menuActive:hover,div.list-group-item.menuActive:focus {
	z-index: 2;
	color: white;
	background-color: #FFFFFF;
	/* #f5f5f5; */
}
.nav-primary .list-group-item {
	-webkit-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	-moz-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	-ms-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	-o-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	word-wrap: break-word;
	background-color: transparent;
	border: none;
	color: #b3b3b3;
	padding: 20px 20px;
}
.nav-primary .list-group-item:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}

.nav-primary .list-group-item.active {
	border-top: #222222;
	background-color: #222222;
}

.nav-primary .list-group-item.active:hover {
	background-color: #222222;
}

@media ( max-width : 768px) {
	.nav-primary .list-group-item {
		padding: 8px 20px;
	}
}
@media ( max-width : 340px) {
	.nav-primary .list-group-item {
		padding: 5px 20px;
		font-size:11px;
	}
}


.leftItems
{
	    display: inline-block;
    color: #9ba2a8;
}
.nickImage
{
	display: inline-block;
    vertical-align: middle;
}
.nickText
{
	    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    font-weight: bold;
    padding-left: 10px;
}
.inline-vertical
{
	    display: inline-block;
    vertical-align: middle;
}
.padding-right-30
{
	padding-right:30px;
}
.
.page-header-group {
	margin-bottom: 20px;
}
.padding_top-header
{
	padding-top:37px;
	    padding-bottom: 20px;
}
.headerPage
{
    width: 75%;
    float: left;
}
.page-header {
	color: #333333;
	border-bottom: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height: 100%;
	margin: 0 auto -99px;
	bottom:0;
	height: auto !important;
}

@media ( max-width : 630px) {
	.wrapper {
		margin: 0 auto -108px;
	}
}

.wrapper:before,.wrapper:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.wrapper:after {
	clear: both;
}

.inner {
	-webkit-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-ms-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	float: right;
	width: 100%;
	margin-right: 0;
}
.admin-content {
    position: relative;
    min-height: 100%;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 120px;
}
.sidebar {
	position: fixed;
	left: 0;
	margin-bottom: 65px;
	bottom: 0;
	top: 0;
	padding-top: 49px;
	z-index: 999;
height: 100%;
}
.inner-views.desktop-view {
	padding-left: 210px;
}
.fixed-header-wrap {
	position: fixed;
    width: 100%;
    z-index: 1030;
	top: 0;
	left: 0;
	margin-bottom: 0;
	/* Added 9/10/2014 */
}
 .inner-views.desktop-view
  {
         padding-top: 15px;
    padding-left: 140px;
  }
  .inner-views.tablet-view
  {
         padding-top: 15px;
    padding-left: 40px;
  }
 .form-control {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.display-table
{
	display: table;
    border-collapse: separate;
       border-spacing: 8px 14px;
}
.display-row
{
	display:table-row;
}
.display-cell
{
	display:table-cell;
	vertical-align:middle;
}
.padding-top-10
{
	padding-top:10px;
}
/******MODAL*******/
body.modal-open {
	position: fixed;
    overflow: hidden;
    width: 100%;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  filter: alpha(opacity = 0);
  opacity: 0;
}

.modal-backdrop.in {
  filter: alpha(opacity = 50);
  opacity: .5;
}


@media (min-width: 992px) {
	.register-modal .modal-dialog {
		width: 700px;
	}
}
.modal-header {
	border-bottom: 0;
}
.modal-footer {
	border-top: 0;
}
.modal-sm {
  max-width: 360px !important;
}
@media (min-width: 768px) {
	.modal-sm {
	   width: 360px !important;
	}
}
/*--------- END modal ------------ */

.bodyClass .modal-dialog
{
	    /* width: 431px; */
    margin: 9% auto;
}
.alignCenter
{
	text-align:center;
}
.displayBlock
{
	display:block;
}

.tableMainProp
{
	border-spacing: 10px;
    border-collapse: separate;
    margin-left:auto;
    margin-right:auto;
}
.align-left
{
	text-align:left;
}
.padding-left-40
{
	padding-left:40%;
}
.login-background {
	background-image: url("../images/loginbackground.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.main-background
{
	background-color:#fafafa;
}

/*****login******/

.login-content
{
	position: relative;
    padding: 25px 0 100px;
}
.container
{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;	
}
.inner-container
{
	max-width: 600px;
    position: relative;
    text-align: left;
    background-color: white;
    margin: 0 auto;
    padding: 30px;
    top: 50px;
}
@media (min-width: 1200px)
{
	.logged-out_container {
	    margin: 20px auto 0;
	}
}

.signIn-btn
{
	width: 100%;
    font-size: 23px;
    padding-right: 50px;
    padding-left: 50px;
}	
.padding-bottom-5
{
	padding-bottom:5px;
}

.wrap-text {
	white-space: normal !important;
}
.padding-top-15
{
	padding-top:15px;
}
.font-weight-label
{
	font-weight:bold;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}
.leftProductInfo
{
	padding-left:20%;
}
.dropdown-menu{
	z-index: 998;
}
.dropdown-menu > li > a {
white-space: normal;
word-wrap: break-word;
word-break: break-word;
padding: 3px 10px;
}
.drop-width
{
	width:194px;
}
.margin-left-caret
{
	
	margin-left:70px !important;
}
.drp-min-width
{
	min-width:192px !important;
}
.padding-top-20
{
	padding-top:20px;
}
.productBtns .col-md-4
{
	width:20%;
}
/****toggle switch ******/

.switch {
  background: #fff;
  border: 1px solid #dfdfdf;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  overflow: visible;
  width: 59px;
  height: 24px;
  padding: 0px;
  margin: 0px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  top: -1px;
}
/*adding a wide width for larger switch text*/
.switch.wide {
  width:80px;
}
.switch small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  width: 29px;
  height: 24px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
}
.switch.checked {
  background: rgb(100, 189, 99);
  border-color: rgb(100, 189, 99);
}
.switch.checked small {
  left: 29px;
}
/*wider switch text moves small further to the right*/
.switch.wide.checked small {
  left:52px;
}
/*styles for switch-text*/
.switch .switch-text {
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
}

.switch .off {
  display:block;
  position: absolute;
  right: 10%;
  top: 25%;
  z-index: 0;
  color:#A9A9A9;
}

.switch .on {
  display:none;
   z-index: 0;
  color:#fff;
  position: absolute;
  top: 25%;
  left: 9%;
}

.switch.checked .off {
  display:none;
}

.switch.checked .on {
  display:block;

}

.switch.disabled {
  opacity: .50;
  cursor: not-allowed;
}
/*****END*****/
a:hover , a:focus
{
	 background-color:transparent !important;
	text-decoration:none;
}

.menuItemsText
{
font-weight: bold;
    font-size: 12px;
}
.menuActive
{
	background-color: white !important;
}


.no-skin .nav-list>li {
    border-color: #e5e5e5;
}

.no-skin .nav-list>li .submenu {
    background-color: #fff;
    border-color: #e5e5e5;
}
.nav-list>li>.submenu {
    border-top: 1px solid;
}
.nav-list>li .submenu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    position: relative;
}
.nav-list>li .submenu>li {
    margin-left: 0;
    position: relative;
}
.no-skin .nav-list>li .submenu>li>a {
    border-top-color: #e4e4e4;
    background-color: #fff;
    color: #616161;
}
.nav-list>li>.submenu>li:first-child>a {
    border-top-width: 0;
}
.nav-list>li .submenu>li>a {
    display: block;
    position: relative;
    /* padding: 7px 0 9px 37px;
    margin: 0; */
    border-top-width: 1px;
    border-top-style: dotted;
}
.nav-list li.open>.submenu {
    display: block;
}
.searchBox .dropdown-menu
{
	background-color:white;
}
.color-green
{
	color:green;
}
.color-red
{
	color:red;
}
.btn.btn-secondary {
	border: 1px solid #F9750C;
	color: #F9750C;
	background-color: #fff;
	margin-bottom: 0;
}

.btn.btn-secondary:hover {
	border-color: #CC6633;
	color: #CC6633;
	background-color: #fff;
}
.inline-block
{
	display:inline-block;
}
.padding-left-10
{
	padding-left:10px;
}
.payment-btn
{
	font-size:30px;width:33%
}
.payment-btn-color
{
	background-color:#44b772;
}
.return-btn-color
{
	background-color:red;
	border-color:red;
}
.fromDate .dropdown-menu
{
	display: none;
    padding: 5px 0;
    margin: 2px 0 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0.5em;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
table th
{
	    vertical-align: middle !important;
}
.input-group-btn button
{
	height:52px !important;
}

.up:before
{
	content: " ";
   /*  position: absolute; */
    left: 0;
    top: 7px;
    border-width: 5px;
    border-color: transparent;
    border-top-color: transparent;
    border-style: solid;
    width: 0;
    height: 0
}
.up.positive:before
{
	top: 0;
    border-bottom-color: #34ad42;
    border-top-color: transparent;
}
.dash-board
{
	    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
}
.box-heading
{
	font-weight:700;color:#969696;font-size:17px;
}
.prodStatus
{
	font-size:17px;font-weight:400;color:#34ad42;
}
.upStatus
{
	display:block;padding-left: 15px;margin-bottom: 3px;
}

.box-size
{
	   /*  margin-left: 20px;
    margin-right: 20px;
    width:20% !important; */
}
.padding-10
{
	padding:10px;
}
.padding-1
{
	padding:1px;
}
.padding-left-70
{
	padding-left:70px;
}
.glyphicon-pencil:hover
{
	color:#478FCA;
}
.glyphicon-pencil
{
	color:#DDD;
}
.glyphicon-trash:hover
{
	color:#DD5A43;
}
.glyphicon-trash
{
	color:#DDD;
}
/*.color-black
{
	color:#000000;
}*/
.returnBtn :hover
{
	background-color: red;
}
.verticalLine {
	border-right: 1px solid #CCC;
	height: 500px;
}

.parsley-errors-list {
	margin: 10px 0 3px 0;
	padding: 0;
	list-style-type: none;
	font-size: 0.9em;
	line-height: 0.9em;
	opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in-;
	-moz-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
}
.parsley-errors-list.filled {
	opacity: 1;
}

.parsley-required {
	color: #A94442;
	white-space: normal;
	margin-bottom: 8px;
}

input.parsley-error, select.parsley-error, textarea.parsley-error {
	color: #B94A48;
	background-color: #F2DEDE;
	border: 1px solid #B94A48 !important;
}