<div>

<div class="row padding-top-20" style="padding:30px;">
	<div class="col-md-1" style="width:16%;">
		<div class="padding-bottom-5"><label>Name/SKU/Handle</label></div>
		<div>
			<input  type="text" class="form-control" data-ng-model="bType.filterValue" id="name" style="height:52px;width:100%;" data-restrict-characters="restrictCharacter.OnlyDigits.regExp"/>
		</div>
	</div>
	<div class="col-md-1" style="width:16%;">
		<div class="padding-bottom-5"><label>Product Type</label></div>
		<div>
			<select id="prType" data-ng-model="productType" class="form-control" ng-change="checkValue()" style="height:52px;width:100%;">
							<option value="select">Select All</option>
							<option value="Brand">Brand</option>
							<option value="Vendor">Vendor</option>
							<option value="Category">Category</option>
						</select>
		</div>
	</div>
	<div class="col-md-1" style="width:16%;" ng-show="productType == 'Vendor'">
		<div class="padding-bottom-5"><label>Vendor</label></div>
		<div>
			<select id="prType" data-ng-model="bType" class="form-control" ng-change="checkValue()" style="height:52px;width:100%;" data-ng-options="vendorOpt as vendorOpt.vendorName for vendorOpt in vendorOptions">
							<option value="">Select All</option>
						</select>
		</div>
	</div>
	<div class="col-md-1" style="width:16%;" ng-show="productType == 'Brand'">
		<div class="padding-bottom-5"><label>Brand</label></div>
		<div>
			<select id="prType" data-ng-model="bType" class="form-control" ng-change="checkValue()" style="height:52px;width:100%;" data-ng-options="brandOpt as brandOpt.brandName for brandOpt in brandOptions">
							<option value="">Select All</option>
						</select>
		</div>
	</div>
	<div class="col-md-1" style="width:16%;" ng-show="productType == 'Category'">
		<div class="padding-bottom-5"><label>Category</label></div>
		<div>
			<select id="prType" data-ng-model="bType" class="form-control" ng-change="checkValue()" style="height:52px;width:100%;" data-ng-options="categoryOpt as categoryOpt.categoryName for categoryOpt in categoryOptions">
							<option value="">Select All</option>
						</select>
		</div>
	</div>
	<div class="col-md-1" style="width:16%;">
	<div class="padding-bottom-5"><label></label></div>
		<div class="filterBtn">
		<button class="btn btn-primary margin-top-1 wrap-text" style="font-size:25px;" ng-click="applyFilter()">Apply Filter</button>
	</div>
	</div>
	<div class="col-md-1" style="width:16%;">
	<div class="padding-bottom-5"><label></label></div>
		<div class="filterBtn">
		<button class="btn btn-primary margin-top-1 wrap-text" style="font-size:25px;" data-ng-click="navigateToAddProduct('product')">Add Product</button>
	</div>
	</div>

</div>
<div class="row" style="padding:30px;">
	<div class="col-md-12">
		<div data-responsive-table data-ng-model="getProductDtls"  data-current-page="currentPageIndexArr"
				 class="full-width" data-page-size="pageSize" data-sort-column="selectedIndex" data-sort-ascending="isAsc"
				on-sort="sortColumnData(index)" data-filter-value="bType.filterValue">
				<columns>
					<column name="Product No" key="productNo" datatype="string" width="8%" sortable="true"></column>
					<column name="Product Name" key="description" datatype="string" width="47%"></column>

					<column name="Category Name" key="categoryName" datatype="string" width="10%"></column>

					<column name="Stock" key="stock" datatype="string" width="5%"></column>
					<column name="Retail Price" key="retailPrice" datatype="string" width="10%"></column>
					<column name="" key="" datatype="" width="20%">
						<cell ng-non-bindable>
							<span class="inline-vertical" ng-show="row.categoryName != 'Phone'">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true" style="cursor:pointer;" ng-click="scope.editProduct(row)"></span>
							</span>
							<span class="inline-vertical padding-left-10" ng-show="row.categoryName != 'Phone'">
								<span class="glyphicon glyphicon-trash" aria-hidden="true" style="cusrsor:pointer;"></span>
							</span>
							<span class="inline-vertical padding-left-10">
								<span  aria-hidden="true" style="color:green;" ng-click="scope.navigateToSales(row.productId)">History</span>
							</span>
							<span class="inline-vertical padding-left-10">
								<span  aria-hidden="true" style="color:orange;">Tag</span>
							</span>
						</cell>
					</column>
				</columns>		
			</div>
	</div>
</div>
</div>