<div>
	<div class="row alert alert-success" data-ng-show="GlobalVariable.productSuccessAlert" style="margin-top:10px;text-align:center;width:50%;margin-left:auto;margin-right:auto;">
		<div>
			<button  type="button" class="close" ng-click="closeBootstrapAlert()">
				&times;
			</button>
			<span data-ng-show="GlobalVariable.addedSucces == true">Product Added Successfully</span>
			<span data-ng-show="GlobalVariable.editedSuccess == true">Product Edited Successfully</span>
		</div>
	</div>
	<div class="row" style="padding-top:20px;">

		<section class="col-md-6 col-xs-12" ng-class="{'leftProductInfo':!device.isMobile}">
			<div class="panel-body inline-vertical">
				<div>
					<h2 class="page-header" style="font-size:16px;">Product Information</h2>
			
				</div>
				<div class="content display-table" >
					<div class="form-group display-row">
						<label for="productId" class="display-cell">Product ID:</label>
						<input data-proxtra-message="REGAUTH18"   type="text" class="form-control display-cell" data-ng-model="productId" id="productId" data-restrict-characters="restrictCharacter.OnlyDigits.regExp"/>
						<div class="display-cell"><button ng-disabled="GlobalVariable.editProduct" class="btn btn-primary margin-top-1 wrap-text" style="font-size:14px;" ng-click="generateRandomId()">Generate</button></div>
						</div>
					<div class="form-group display-row">
						<label for="vendorId" class="display-cell">Vendor:</label>
						<div class="btn-group pull-left prd-drop" dropdown is-open="status.isopen" ng-class="{'full-width': device.isMobile}">
				                <button type="button" class="btn btn-default dropdown-toggle drop-width" dropdown-toggle
				                ng-class="{'full-width left-align': device.isMobile}" id="vendName" data-proxtra-message="REGAUTH16">
				                    <span ng-show="selectedVendorType">{{selectedVendorType}}</span>
                    				<span ng-hide="selectedVendorType">Search By</span>
				                    <span class="caret margin-left-caret"></span>
				                </button>
				                <ul class="dropdown-menu drp-min-width" role="menu">
				                    <li ng-repeat="vendor in GlobalVariable.getVendors">
				                        <a ng-click="setVendorType(vendor.vendorId,vendor.vendorName)">{{vendor.vendorName}}</a>
				                    </li>
				                </ul>
				            </div>
					</div>
					<div class="form-group display-row">
						<label for="description" class="display-cell">Desc:</label>
						<input  type="text" class="form-control display-cell" data-ng-model="description" id="description"/>
					</div>
					<div class="form-group display-row">
						<label for="upc" class="display-cell">Category:</label>
						<div class="btn-group pull-left  prd-drop" dropdown is-open="brand.isopen" ng-class="{'full-width': device.isMobile}">
				                 <button type="button" class="btn btn-default dropdown-toggle drop-width" dropdown-toggle
				                ng-class="{'full-width left-align': device.isMobile}" id="categoryName" data-proxtra-message="REGAUTH14">
				                    <span ng-show="selectedCategoryType">{{selectedCategoryType}}</span>
                    				<span ng-hide="selectedCategoryType">Search By</span>
				                    <span class="caret margin-left-caret"></span>
				                </button>
				                <ul class="dropdown-menu drp-min-width" role="menu">
				                    <li ng-repeat="category in GlobalVariable.getCategory">
				                        <a ng-click="setCategoryType(category.categoryId,category.categoryName,category.category.description)">{{category.categoryName}}</a>
				                    </li>
				                </ul>
				            </div>
					</div>
					<div class="form-group display-row" ng-if="selectedCategoryType == 'Phone'">
						<label for="altNo" class="display-cell">IMEI</label>
						<input  type="text" class="form-control display-cell" data-ng-model="IMEI" id="IMEI" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" />
					</div>
					<div class="form-group display-row">
						<label for="depart" class="display-cell">Brand:</label>
						<div class="btn-group pull-left  prd-drop" dropdown is-open="cat.isopen" ng-class="{'full-width': device.isMobile}">
				                 <button type="button" class="btn btn-default dropdown-toggle drop-width" dropdown-toggle
				                ng-class="{'full-width left-align': device.isMobile}" id="brandName" data-proxtra-message="REGAUTH12">
				                    <span ng-show="selectedBrandType">{{selectedBrandType}}</span>
                    				<span ng-hide="selectedBrandType">Search By</span>
				                    <span class="caret margin-left-caret"></span>
				                </button>
				                <ul class="dropdown-menu drp-min-width" role="menu">
				                    <li ng-repeat="brand in GlobalVariable.getBrands">
				                        <a ng-click="setBrandType(brand.brandId,brand.brandName)">{{brand.brandName}}</a>
				                    </li>
				                </ul>
				            </div>
					</div>
					
					<div class="form-group display-row">
						<label for="altNo" class="display-cell">Alt No:</label>
						<input ng-disabled="GlobalVariable.editProduct" data-proxtra-message="REGAUTH22"  type="text" class="form-control display-cell" data-ng-model="altNo" id="altNo" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" />
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="productYesyNO">
							Add Tax
						</label>
					</div>
				</div>
			</div>
		</section>
		<section class="col-md-6 col-xs-12 rightProductInfo">
			<div class="panel-body">
				<div class="headerPage">
					<h2 class="page-header" style="font-size:16px;">Retail</h2>
			
				</div>
				<div class="middlecontent display-table">
					<div class="display-row">
						<div class="form-group display-cell">
							<div><label for="cost" class="">CostPrice</label></div>
							<div><input  type="text" class="form-control" data-restrict-characters="restrictCharacter.NumericWithPeriod.regExp" data-ng-model="prodCP" id="prodCP" style="width:100px;"  data-ng-change="populateRetailPrice()"/></div>
						</div>
						<div class="display-cell">
							<div><label>X</label></div>
						</div>
						<div class="form-group display-cell">
							<div><label for="Retail" class="">Markup</label></div>
							<div><input  type="text" class="form-control" data-restrict-characters="restrictCharacter.NumericWithPeriod.regExp" data-ng-model="prodMarkup" id="prodMarkup" style="width:100px;" data-ng-change="populateRetailPrice()"/></div>
						</div>
						<div class="display-cell">
							<div><label>=</label></div>
						</div>
						<div class="form-group display-cell">
							<div><label for="Retail" class="">RetailPrice</label></div>
							<div><input  type="text" class="form-control" data-restrict-characters="restrictCharacter.NumericWithPeriod.regExp" data-ng-model="prodRetail" id="prodRetail" style="width:100px;"  data-ng-change="populateMarkup()" /></div>
						</div>
					</div>	
				</div>
		</div>
		<div class="panel-body">
				<div class="headerPage">
					<h2 class="page-header" style="font-size:16px;">Return Policy</h2>
			
				</div>
				<div class="content display-table">
					<div class="form-group display-row">

							<div class="btn-group pull-left  prd-drop" dropdown is-open="return.isopen" ng-class="{'full-width': device.isMobile}">
				                <button type="button" class="btn btn-default dropdown-toggle drop-width" dropdown-toggle
				                ng-class="{'full-width left-align': device.isMobile}">
									<span ng-show="selectedReturnType">{{selectedReturnType}}</span>
				                    <span ng-hide="selectedReturnType">Select Return Policy</span>
				                    <span class="caret"></span>
				                </button>
				                <ul class="dropdown-menu drp-min-width" role="menu">
				                    <li>
				                        <a ng-click="setReturnType('One Day')">One Day</a>
				                    </li>
									<li>
										<a ng-click="setReturnType('One Week')">One Week</a>
									</li>
									<li>
										<a ng-click="setReturnType('One Month')">One Month</a>
									</li>
									<li>
										<a ng-click="setReturnType('Custom')">Custom</a>
									</li>
				                    
				                </ul>


				            </div>
						</div>
					<div class="form-group display-cell" ng-if="selectedReturnType == 'Custom'">
						<div><label for="Retail" class="">Return Policy</label></div>
						<div><input  type="text" class="form-control"  data-ng-model="customReturn" id="customReturn" /></div>
					</div>
				</div>
			</div>
		<div class="panel-body">
				<div class="headerPage">
					<h2 class="page-header" style="font-size:16px;">Stock in the Store</h2>
			
				</div>
				<div class="content display-table">
					<div class="form-group display-row">
							<label for="Stock" class="display-cell">Quantity:</label>
							<input  type="text" class="form-control display-cell" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" data-ng-model="prodQuantity" id="prodQuantity"/>
						</div>
						<div class="form-group display-row">
							<label for="Stock" class="display-cell">MinQuantity:</label>
							<input  type="text" class="form-control display-cell" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" data-ng-model="prodMinquantity" id="prodMinquantity"/>
						</div>
				</div>
			</div>
		</section>
	</div>
	<div class="row">
		<div class="bottomButtons" style="text-align:center;">
			<button class="btn btn-primary margin-top-1 wrap-text" style="width:10%;font-size:18px;">Next</button>
			<button class="btn btn-primary margin-top-1 wrap-text" style="width:10%;font-size:18px;" ng-click="addProduct()"><span ng-if="GlobalVariable.editProduct !== true">OK</span><span ng-if="GlobalVariable.editProduct == true">Edit</span></button>
			<button class="btn btn-primary margin-top-1 wrap-text" style="width:10%;font-size:18px;" data-ng-click="cancelProduct()">Cancel</button>
		</div>
	</div>
	
</div>