<div>
<div class="row alert alert-success" data-ng-show="GlobalVariable.successAlert" style="margin-top:10px;text-align:center;width:50%;margin-left:auto;margin-right:auto;">
	    <div>
	    <button  type="button" class="close" ng-click="closeBootstrapAlert()">
	        &times;
	    </button>
	   <span data-ng-show="GlobalVariable.addesSuccessfull == true">Category Added Successfully</span> 
	   <span data-ng-show="GlobalVariable.enableEdit == true">Category Edited Successfully</span>
		</div>
		</div>
<div class="row pageHeader" style="padding:30px;">
	<div class="col-md-4 pageHeader">
		<span style="font-weight:bold;font-size:30px">Category</span>
	</div>
	<div class="productBtn" style="float:right;padding-right:15px;">
		<button class="btn btn-primary margin-top-1 wrap-text" style="font-size:18px;" data-ng-click="openAddPopup()">
		<i class="fa fa-plus registration-btn-image-small"></i><br/>
	          <span>Add Category</span>
		</button>
	</div>
</div>
<div class="row" style="padding:30px;">
	<div class="col-md-12">
		<div data-responsive-table data-ng-model="GlobalVariable.getCategory"  data-current-page="currentPageIndexArr"
				 class="full-width" data-page-size="pageSize" data-sort-column="selectedIndex" data-sort-ascending="isAsc"
				on-sort="sortColumnData(index)">
				<columns>
					<column name="Name" key="categoryName" datatype="string" width="25%" sortable="true"></column>
					<column name="Descritpion" key="description" datatype="string" width="50%"></column>
					<column name="Number of products" key="noOfProducts" datatype="string" width="5%"></column>
					<column name="" key="" datatype="" width="30%">
						<cell ng-non-bindable>
							<span class="inline-vertical">
								<a ng-click="scope.navigateToProduct()" style="cursor:pointer;">ViewProducts</a>
							</span>
							<span ng-if="row.categoryId != 10 && row.categoryId !=1 && row.categoryId !=2 && row.categoryId !=3 " class="glyphicon glyphicon-pencil padding-left-10" aria-hidden="true" style="cursor:pointer;" ng-click="scope.editCategory(row)"></span>
							<span ng-if="row.categoryId != 10 && row.categoryId !=1 && row.categoryId != 2 && row.categoryId !=3" class="glyphicon glyphicon-trash padding-left-10" aria-hidden="true" style="cursor:pointer;" ng-click="scope.deleteCategory(row.categoryId)"></span>

						</cell>
					</column>
				</columns>		
			</div>
	</div>
</div>
</div>