<div class="container" style="padding-top:59px;">
	<div class="row">
	<div class="searchItems col-md-12" style="margin-bottom:10px;">
	 	<div class="searchProducts col-md-6">
	 			
			<div class="searchBox">
				<input type="text" class="form-control" placeholder="Start typing or scanning" ng-model="searchValue" style="width:100%;height:52px;">
			</div>
			<div class="buttons" style="text-align:right;padding-top:10px;">
				<button class="btn btn-primary margin-top-1 wrap-text" style="font-size:18px;" ng-click="addRow()">Add Item</button>
			</div>
		</div>
		<div class="searchCustomers col-md-6">	
		<div class="searchBox">
			<input type="text" class="form-control" placeholder="Start typing or scanning" ng-model="searchValue" style="width:100%;height:52px;">
		</div>
		<div class="buttons" style="text-align:right;padding-top:10px;">
			<button class="btn btn-primary margin-top-1 wrap-text" style="font-size:18px;" ng-click="createCustomer()">Create Customer</button>
		</div>
		</div>
	</div>
	</div>
	<div class="row">
	<div class="col-md-8" style="background-color:#FFFFFF;padding:10px;padding-top:53px;">
		<div data-responsive-table data-ng-model="testData"  data-current-page="currentPageIndexArr"
				 class="full-width" style="height:300px;overflow:auto;">
				<columns>
					<column name="ItemNo" key="itemNo" datatype="string" width="3%" sortable="true"></column>
					<column name="Item" key="item" datatype="string" width="52%">
					<cell ng-non-bindable>
						{{::row.item}}
					</cell>
					</column>
					<column name="Quantity" key="quantity" datatype="string" width="5%"></column>
					<column name="Retail" key="retail" datatype="string" width="10%"></column>
					<column name="Discount" key="discount" datatype="string" width="5%"></column>
					<column name="Tax" key="tax" datatype="string" width="5%"></column>
					<column name="Total" key="total" datatype="string" width="10%"></column>
					<column name="Stock" key="stock" datatype="string" width="5%"></column>
					<column name="" key="" datatype="" width="5%">
						<cell ng-non-bindable>
							<span>
								<a  style="cursor:pointer;"><img src="./assets/images/delete.png" alt="delete" height="15" /></a>
							</span>
						</cell>
					</column>
				</columns>		
			</div>
			
	</div>	
	<div class="cold-md-4" style="background-color:#FFFFFF;padding:10px;padding-top:20px;">	
			<div class="row totalColumn display-table tableMainProp" align="center">
				<div class="display-row">
					<div class=" inline-vertical display-cell align-left">Quantity</div>
					<div class=" inline-vertical display-cell align-left padding-left-40">6</div>
				</div>
				<div class="display-row">	
					<div class="padding-top-10 inline-vertical display-cell align-left">Subtotal</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40">20.89</div>
				</div>
				<div class="display-row">		
					<div class="padding-top-10 inline-vertical display-cell align-left">Discount</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:70%;" class="form-control" placeholder="1%" /></div>
				</div>	
				<div class="display-row">	
					<div class="padding-top-10 inline-vertical display-cell align-left">Tax</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:70%;" class="form-control" placeholder="3.89" /></div>
				</div>	
				<div class="display-row">	
					<div class="padding-top-10 inline-vertical display-cell align-left">Total</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40">21.89</div>
				</div>
			</div>
			<div class="row paymentBtns padding-top-10" style="text-align:center;">
				<button class="btn btn-primary margin-top-1 wrap-text " style="font-size:18px;" ng-click="openCashPopup()">
				<span class="inline-vertical">Payment</span>
				<span class="inline-vertical" style="padding-left:10px;"> $125.00</span>
				</button>
				<button class="btn btn-primary margin-top-1 wrap-text" style="font-size:18px;" ng-click="addRow()">Void</button>
			</div>
		</div>	
	</div>
	

</div>