.gradle
*.sw?
.#*
*#
*~
/build
/code
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
bin
build
lib/
target
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
*.ipr
*.iws
.idea/*
*.jar
idea
.idea/misgit rmc.xml
.DS_Store
