<div>
	<div class="row pageHeader" style="padding-left:30px;padding-top:20px;" print-remove>
		<div class="col-md-12 pageHeader">
			<span style="font-weight:bold;font-size:30px">Close Register</span>
		</div>
	</div>
	<div class="row" style="padding-top:5px;padding-left:30px;">
		<div class="col-md-8">
				<div class="row totalColumn display-table tableMainProp" align="left" style="margin-left:0px;margin-right:auto;border-spacing:5px;">
				<div class="display-row">
						<div class=" inline-vertical display-cell align-left" style="visibility:hidden;"><span style="display:block;">Credit/</span><span style="display:block;">Debit Crad:</span> </div>
						<div class=" inline-vertical display-cell align-left " >From User</div>
						<div class=" inline-vertical display-cell align-left ">From System</div>
						<div class=" inline-vertical display-cell align-left ">Difference</div>
					
					</div>
					<div class="display-row">
						<div class=" inline-vertical display-cell align-left"><span style="display:block;">Credit/</span><span style="display:block;">Debit Card:</span> </div>
						<div class=" inline-vertical display-cell align-left " ><input type="text"  class="form-control"  ng-model="userDebit" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" ng-blur="getUserDebit(userDebit)"/></div>
						<div class=" inline-vertical display-cell align-left "><input type="text"  class="form-control"  ng-model="systemDebit" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
						<div class=" inline-vertical display-cell align-left "><input type="text"  class="form-control"  ng-model="difDebit" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
					
					</div>
				
				</div>
				<div class="row totalColumn display-table tableMainProp" align="left" style="margin-left:0px;margin-right:auto;border-spacing:5px;">
					<div class="display-row">
						<div class=" inline-vertical display-cell align-left"><span style="display:block;">Cash :</span><span style="display:block;visibility:hidden;">Debit Card:</span> </div>
						<div class=" inline-vertical display-cell align-left" ><input type="text"  class="form-control"  ng-model="userCash" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" ng-blur="getUserCash(userCash)" /></div>
						<div class=" inline-vertical display-cell align-left"><input type="text"  class="form-control"  ng-model="systemCash" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
						<div class=" inline-vertical display-cell align-left "><input type="text"  class="form-control"  ng-model="difCash" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
					
					</div>
				
				</div>
				<div class="row totalColumn display-table tableMainProp" align="left" style="margin-left:0px;margin-right:auto;border-spacing:5px;">
					<div class="display-row">
						<div class=" inline-vertical display-cell align-left"><span style="display:block;">Check :</span><span style="display:block;visibility:hidden;">Debit Card:</span> </div>
						<div class=" inline-vertical display-cell align-left " ><input type="text"  class="form-control"  ng-model="userCheck" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
						<div class=" inline-vertical display-cell align-left "><input type="text"  class="form-control"  ng-model="sysCheck" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
						<div class=" inline-vertical display-cell align-left "><input type="text"  class="form-control"  ng-model="difCheck" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
					
					</div>
				
				</div>
				<div class="row totalColumn display-table tableMainProp" align="left" style="margin-left:0px;margin-right:auto;border-spacing:5px;">
					<div class="display-row">
						<div class=" inline-vertical display-cell align-left"><span style="display:block;">Actual</span><span style="display:block;">Daily Total:</span> </div>
						<div class=" inline-vertical display-cell align-left " ><input type="text"  class="form-control"  ng-model="totalUser" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
						<div class=" inline-vertical display-cell align-left "><input type="text"  class="form-control"  ng-model="totalSys" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
						<div class=" inline-vertical display-cell align-left "><input type="text"  class="form-control"  ng-model="totalDiff" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
						
					</div>
				
				</div>
				
		</div>
		<div class="col-md-4">
			<div class="row totalColumn display-table tableMainProp" align="left" style="margin-left:0px;margin-right:auto;border-spacing:5px;border:1px solid #ddd;">
				<div class="display-row">
					<div class=" inline-vertical display-cell align-left" >$100 *</div>
					<div class=" inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="hundred" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" ng-blur="getTotal(hundred,'hun')" /></div>
				</div>
				<div class="display-row">	
					<div class="padding-top-1 inline-vertical display-cell align-left">$50 *</div>
					<div class="padding-top-1 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="fifty" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" ng-blur="getTotal(fifty,'fif')"/></div>
				</div>
				<div class="display-row">		
					<div class="padding-top-1 inline-vertical display-cell align-left">$20 *</div>
					<div class="padding-top-1 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="twenty" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" ng-blur="getTotal(twenty,'twn')"/></div>
				</div>	
				<div class="display-row">	
					<div class="padding-top-1 inline-vertical display-cell align-left">$10 *</div>
					<div class="padding-top-1 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="ten" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" ng-blur="getTotal(ten,'ten')" /></div>
				</div>	
				<div class="display-row">	
					<div class="padding-top-1 inline-vertical display-cell align-left">$5 *</div>
					<div class="padding-top-1 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="five" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" ng-blur="getTotal(five,'fiv')"/></div>
				</div>
				<div class="display-row">	
					<div class="padding-top-1 inline-vertical display-cell align-left">$2 *</div>
					<div class="padding-top-1 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="two" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" ng-blur="getTotal(two,'two')"/></div>
				</div>
				<div class="display-row">	
					<div class="padding-top-1 inline-vertical display-cell align-left">$1 *</div>
					<div class="padding-top-1 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="one" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" ng-blur="getTotal(one,'one')"/></div>
				</div>
				<div class="display-row">	
					<div class="padding-top-1 inline-vertical display-cell align-left">Total</div>
					<div class="padding-top-1 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="totalInValue" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="row" style="padding-top:5px;padding-left:30px;">
		<div class="col-md-6">
				 	<div class="" style="padding:10px;text-align:center">
				 			<span>Add Paid Out</span>
				 	</div>
					 	<div class="totalColumn display-table tableMainProp" align="left">
								<div class="display-row">
									<div class="padding-top-10 inline-vertical display-cell align-left">Reason :</div>
									<div class="padding-top-10 inline-vertical display-cell align-left" ><input type="text"  class="form-control"  ng-model="reason1"  /></div>
									<div class="padding-top-10 inline-vertical display-cell align-left" >Amount :</div>
									<div class="padding-top-10 inline-vertical display-cell align-left" ><input type="text"  class="form-control"  ng-model="amount1" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
								</div>
								<div class="display-row">
									<div class="padding-top-10 inline-vertical display-cell align-left">Reason :</div>
									<div class="padding-top-10 inline-vertical display-cell align-left" ><input type="text"  class="form-control"  ng-model="reason2"  /></div>
									<div class="padding-top-10 inline-vertical display-cell align-left" >Amount :</div>
									<div class="padding-top-10 inline-vertical display-cell align-left" ><input type="text"  class="form-control"  ng-model="amount2" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
								</div>
								<div class="display-row">
									<div class="padding-top-10 inline-vertical display-cell align-left">Reason :</div>
									<div class="padding-top-10 inline-vertical display-cell align-left" ><input type="text"  class="form-control"  ng-model="reason3"  /></div>
									<div class="padding-top-10 inline-vertical display-cell align-left" >Amount :</div>
									<div class="padding-top-10 inline-vertical display-cell align-left" ><input type="text"  class="form-control"  ng-model="amount3" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
								</div>
								
					 </div>
					 <div style="text-align:center;margin-bottom:2px;">
					 	<button class="btn btn-primary margin-top-1 wrap-text" style="font-size:20px;" ng-click="addPaidOut()">Add Paid Out</button>
					 </div>
			</div>
	
	</div>
	<div class="row" style="padding-left:30px;text-align:center;padding-top:30px;">
		
		<div class="col-md-12">
		<button class="btn btn-primary margin-top-1 wrap-text" style="font-size:20px;" ng-click="closeRegister()">Close Register</button>
		</div>
		
	</div>
</div>
