<div>
	<div class="row pageHeader" style="padding-left:30px;padding-top:20px;" print-remove>
		<div class="col-md-12 pageHeader">
			<span style="font-weight:bold;font-size:30px">Close Register</span>
		</div>
	</div>
	<div class="row" style="padding-top:5px;padding-left:30px;">
		<div class="col-md-8">
				<div class="row totalColumn display-table tableMainProp" align="left" style="margin-left:0px;margin-right:auto;border-spacing:5px;">
					<div class="display-row">
						<div class=" inline-vertical display-cell align-left"><span style="display:block;">Credit/</span><span style="display:block;">Debit Crad:</span> </div>
						<div class=" inline-vertical display-cell align-left " ><input type="text"  class="form-control"  ng-model="hundred" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
						<div class=" inline-vertical display-cell align-left "><input type="text"  class="form-control"  ng-model="hundred" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
						<div class=" inline-vertical display-cell align-left "><input type="text"  class="form-control"  ng-model="hundred" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
					
					</div>
				
				</div>
				<div class="row totalColumn display-table tableMainProp" align="left" style="margin-left:0px;margin-right:auto;border-spacing:5px;">
					<div class="display-row">
						<div class=" inline-vertical display-cell align-left">Cash :</div>
						<div class=" inline-vertical display-cell align-left" style="padding-left:6%;"><input type="text"  class="form-control"  ng-model="hundred" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
						<div class=" inline-vertical display-cell align-left"><input type="text"  class="form-control"  ng-model="hundred" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
						<div class=" inline-vertical display-cell align-left "><input type="text"  class="form-control"  ng-model="hundred" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
					
					</div>
				
				</div>
				<div class="row totalColumn display-table tableMainProp" align="left" style="margin-left:0px;margin-right:auto;border-spacing:5px;">
					<div class="display-row">
						<div class=" inline-vertical display-cell align-left">Check:</div>
						<div class=" inline-vertical display-cell align-left " style="padding-left:6%;"><input type="text"  class="form-control"  ng-model="hundred" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
						<div class=" inline-vertical display-cell align-left "><input type="text"  class="form-control"  ng-model="hundred" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
						<div class=" inline-vertical display-cell align-left "><input type="text"  class="form-control"  ng-model="hundred" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
					
					</div>
				
				</div>
				<div class="row totalColumn display-table tableMainProp" align="left" style="margin-left:0px;margin-right:auto;border-spacing:5px;">
					<div class="display-row">
						<div class=" inline-vertical display-cell align-left"><span style="display:block;">Actual</span><span style="display:block;">Daily Total:</span> </div>
						<div class=" inline-vertical display-cell align-left " style="padding-left:3%;"><input type="text"  class="form-control"  ng-model="hundred" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
						<div class=" inline-vertical display-cell align-left "><input type="text"  class="form-control"  ng-model="hundred" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
						
					</div>
				
				</div>
				<div class="row totalColumn display-table tableMainProp" align="left" style="margin-left:0px;margin-right:auto;border-spacing:5px;">
					<div class="display-row">
						<div class=" inline-vertical display-cell align-left">Reason:</div>
						<div class=" inline-vertical display-cell align-left" style="padding-left:12%;"><input type="text"  class="form-control"  ng-model="hundred" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
					</div>
					<div class="display-row">	
						<div class="padding-top-10 inline-vertical display-cell align-left">Amount:</div>
						<div class="padding-top-10 inline-vertical display-cell align-left " style="padding-left:12%;"><input type="text" style="width:50%;" class="form-control"  ng-model="fifty" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
					</div>
				</div>
		</div>
		<div class="col-md-4">
			<div class="row totalColumn display-table tableMainProp" align="left" style="margin-left:0px;margin-right:auto;border-spacing:5px;">
				<div class="display-row">
					<div class=" inline-vertical display-cell align-left" >$100 *</div>
					<div class=" inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="hundred" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
				</div>
				<div class="display-row">	
					<div class="padding-top-10 inline-vertical display-cell align-left">$50 *</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="fifty" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
				</div>
				<div class="display-row">		
					<div class="padding-top-10 inline-vertical display-cell align-left">$20 *</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="twenty" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
				</div>	
				<div class="display-row">	
					<div class="padding-top-10 inline-vertical display-cell align-left">$10 *</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="ten" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
				</div>	
				<div class="display-row">	
					<div class="padding-top-10 inline-vertical display-cell align-left">$5 *</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="five" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
				</div>
				<div class="display-row">	
					<div class="padding-top-10 inline-vertical display-cell align-left">$2 *</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="two" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
				</div>
				<div class="display-row">	
					<div class="padding-top-10 inline-vertical display-cell align-left">$51 *</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="one" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
				</div>
				<div class="display-row">	
					<div class="padding-top-10 inline-vertical display-cell align-left">Total</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="one" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="row" style="padding-left:30px;text-align:center;">
		
		<div class="col-md-12">
		<button class="btn btn-primary margin-top-1 wrap-text" style="font-size:20px;">Add Paid Out</button>
		</div>
		
	</div>
</div>