<div>
<div class="row pageHeader" style="padding:30px;">
	<div class="col-md-12 pageHeader">
		<span style="font-weight:bold;font-size:30px">Monthly Analysis</span>
	</div>
</div>
<div class="row productBtns" style="padding-left:30px;padding-top:10px;">
	<div class="col-md-4 productBtn">
		
		<div class="form-group">
						<label for="sales_Date" class="required">Start Date</label>
						<div class="input-group calendar-group fromDate">
							<input type="text" style="height:52px;width:100%;" ng-model="startDate" class="form-control fromDate" datepicker-popup="{{'MM/dd/yyyy'}}" required
							ng-model-options="{allowInvalid: true}" name="startDate" data-restrict-characters="restrictCharacter.DateField.regExp"
							is-open="openStart"  date-cleared="dateCleared"  date-length="10"
							id="startDate" placeholder="mm/dd/yyyy">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openStartCalendar($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button> </span>
						</div>
					
					</div>
	 </div> 
	 <div class="col-md-4 productBtn">
		
		<div class="form-group">
						<label for="sales_Date" class="required">End Date</label>
						<div class="input-group calendar-group fromDate">
							<input type="text" style="height:52px;width:100%;" ng-model="endDate" class="form-control fromDate" datepicker-popup="{{'MM/dd/yyyy'}}" required
							ng-model-options="{allowInvalid: true}" name="endDate" data-restrict-characters="restrictCharacter.DateField.regExp"
							is-open="openEnd"  date-cleared="dateCleared"  date-length="10"
							id="endDate" placeholder="mm/dd/yyyy">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openEndCalendar($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button> </span>
						</div>
					
					</div>
	 </div>
	 <div class="col-md-4 productBtn">
		<div style="visibility:hidden;"><label>Search For Customers</label></div>
		<div>
			<input  type="text" class="form-control" data-ng-model="customerPhone" id="customerPhone"  name="customerPhone" style="height:52px;width:100%;" />
		</div>
	 </div>  
	<div class="col-md-4">
	<div style="visibility:hidden;"><label>Search For Customers</label></div>
		<div>
			
		 <span class="glyphicon glyphicon-print" aria-hidden="true" style="color:#478FCA;cursor:pointer;font-size:35px;"   ng-click="scope.print(row.transactionCompId)"></span>
							
		</div>
	</div>
	<div class="col-md-4">
	<div style="visibility:hidden;"><label>Search For Customers</label></div>
		<div style="font-size:25px;">
			
		 <span style="display:inline-block;">Daily Avg:</span><span style="padding-left:10px;display:inline-block;">$100</span>					
		</div>
	</div>

</div>
<div class="row" style="padding-left:30px;padding-top:10px;">
	<div class="col-md-7">
		<div data-responsive-table data-ng-model="monthlyDtls"  data-current-page="currentPageIndexArr"
				 class="full-width" data-page-size="pageSize" data-sort-column="selectedIndex" data-sort-ascending="isAsc"
				on-sort="sortColumnData(index)">
				<columns>
					<column name="Date" key="date" datatype="string" width="20%" sortable="true"></column>
					<column name="CC Total" key="sumCredit" datatype="string" width="20%"></column>
					<column name="Check" key="userId" datatype="string" width="20%"></column>
					
					<column name="Cash Total" key="sumCash" datatype="string" width="20%"></column>
					<column name="Total" key="total" datatype="string" width="20%"></column>
					
				</columns>		
			</div>
	</div>
	<div class="col-md-4">
		<!-- <div class="row totalColumn display-table tableMainProp" align="left" style="border:1px solid #ddd;">
					<div class="display-row">
						<div class="padding-top-10 inline-vertical display-cell align-left">Daily Avg :</div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>$100</label></div>
					</div>
					<div class="display-row">
						<div class="padding-top-10 inline-vertical display-cell align-left">Day :</div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>24</label></div>
					</div>
					<div class="display-row">
						<div class="padding-top-10 inline-vertical display-cell align-left">Day Left :</div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>6</label></div>
					</div>
					<div class="display-row">
						<div class="padding-top-10 inline-vertical display-cell align-left">Est Gross Remaining :</div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>$1000</label></div>
					</div>
					<div class="display-row">
						<div class="padding-top-10 inline-vertical display-cell align-left">Est MTD Gross Left:</div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>$800</label></div>
					</div>
		 </div> -->
		 <div class="row" style="border:1px solid #ddd;margin-top:10px;">
		 	<div class="" style="padding:10px;border-bottom:2px solid #ddd;text-align:center">
		 			<span>Weekly analysis</span>
		 	</div>
		 	<div class="totalColumn display-table tableMainProp" align="left">
					<div class="display-row">
						<div class="padding-top-10 inline-vertical display-cell align-left" style="visibility:hidden;">Daily Avg :</div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" >Cash</div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" >Credit</div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" >Total</div>
					</div>
					<div class="display-row">
						<div class="padding-top-10 inline-vertical display-cell align-left">Week1 :</div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>{{weeklyDtls[0].cash1}}</label></div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>{{weeklyDtls[0].credit1}}</label></div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>{{weeklyDtls[0].total1}}</label></div>
					</div>
					<div class="display-row">
						<div class="padding-top-10 inline-vertical display-cell align-left">Week2 :</div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>{{weeklyDtls[0].cash2}}</label></div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>{{weeklyDtls[0].credit2}}</label></div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>{{weeklyDtls[0].total2}}</label></div>
					</div>
					<div class="display-row">
						<div class="padding-top-10 inline-vertical display-cell align-left">Week3 :</div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>{{weeklyDtls[0].cash3}}</label></div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>{{weeklyDtls[0].credit3}}</label></div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>{{weeklyDtls[0].total3}}</label></div>
					</div>
					<div class="display-row" style="border-bottom:1px solid #ddd;">
						<div class="padding-top-10 inline-vertical display-cell align-left">Week4 :</div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>{{weeklyDtls[0].cash4}}</label></div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>{{weeklyDtls[0].credit4}}</label></div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>{{weeklyDtls[0].total4}}</label></div>
					</div>
		 </div>
		 <div style="padding:10px;border-top:2px solid #ddd;text-align:center">
		 <div class="totalColumn display-table tableMainProp" >
		 			<div class="display-row">
						<div class="padding-top-10 inline-vertical display-cell align-left">Week Average:</div>
						<div class="padding-top-10 inline-vertical display-cell align-left padding-left-70" ><label>{{weeklyDtls[0].weekAvg}}</label></div>
					</div>
		 	</div>
		</div>
	</div>

</div>







</div>