<div>
<div class="row pageHeader" style="padding:30px;" print-remove>
	<div class="col-md-12 pageHeader">
		<span style="font-weight:bold;font-size:30px">Open Register</span>
	</div>
</div>
<div class="row" style="padding:30px;">

	
	<div class="cold-md-12">
		<div class="row totalColumn display-table tableMainProp" align="left" style="margin-left:0px;margin-right:auto;">
				<div class="display-row">
					<div class=" inline-vertical display-cell align-left">$100 *</div>
					<div class=" inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="hundred" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
				</div>
				<div class="display-row">	
					<div class="padding-top-10 inline-vertical display-cell align-left">$50 *</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="fifty" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
				</div>
				<div class="display-row">		
					<div class="padding-top-10 inline-vertical display-cell align-left">$20 *</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="twenty" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
				</div>	
				<div class="display-row">	
					<div class="padding-top-10 inline-vertical display-cell align-left">$10 *</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="ten" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
				</div>	
				<div class="display-row">	
					<div class="padding-top-10 inline-vertical display-cell align-left">$5 *</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="five" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
				</div>
				<div class="display-row">	
					<div class="padding-top-10 inline-vertical display-cell align-left">$2 *</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="two" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
				</div>
				<div class="display-row">	
					<div class="padding-top-10 inline-vertical display-cell align-left">$51 *</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40"><input type="text" style="width:50%;" class="form-control"  ng-model="one" data-restrict-characters="restrictCharacter.OnlyDigits.regExp" /></div>
				</div>
			</div>
	</div>
	<div class="bottomButtons col-md-12" style="text-align:center;">
			<button class="btn btn-primary margin-top-1 wrap-text" style="width:10%;font-size:18px;">Open</button>
			<button class="btn btn-primary margin-top-1 wrap-text" style="width:10%;font-size:18px;">Cancel</button>
	</div>

</div>


</div>