<div>
<div class="row padding-top-20" style="padding:30px;">
	<div class="col-md-1" style="width:16%;">
		<div class="padding-bottom-5"><label>Name</label></div>
		<div>
			<input  type="text" class="form-control" data-ng-model="name" id="name" style="height:52px;width:100%;"/>
		</div>
	</div>
	<div class="col-md-1" style="width:16%;">
		<div class="padding-bottom-5"><label>Email</label></div>
		<div>
			<input  type="email" class="form-control" data-ng-model="name" id="name" style="height:52px;width:100%;"/>
		</div>
	</div>
	<div class="col-md-1" style="width:16%;">
		<div class="padding-bottom-5"><label>Customer Group</label></div>
		<div>
			<select id="prType" data-ng-model="pType" class="form-control" style="height:52px;width:100%;">
							<option value="">Select All</option>
						</select>
		</div>
	</div>
	<div class="col-md-1" style="width:16%;">
	<div class="padding-bottom-5"><label></label></div>
		<div class="filterBtn">
		<button class="btn btn-primary margin-top-1 wrap-text" style="font-size:25px;">Apply Filter</button>
	</div>
	</div>
	<div class="col-md-1" style="width:16%;">
	<div class="padding-bottom-5"><label></label></div>
		<div class="filterBtn">
		<button class="btn btn-primary margin-top-1 wrap-text" style="font-size:25px;" data-ng-click="navigateToAddProduct('product')">Add Customer</button>
	</div>
	</div>

</div>
<div class="row" style="padding:30px;">
	<div class="col-md-12">
		<div data-responsive-table data-ng-model="customerData"  data-current-page="currentPageIndexArr"
				 class="full-width" data-page-size="pageSize" data-sort-column="selectedIndex" data-sort-ascending="isAsc"
				on-sort="sortColumnData(index)">
				<columns>
					<column name="Contact" key="contact" datatype="string" width="10%" sortable="true"></column>
					<column name="Company" key="company" datatype="string" width="10%"></column>
					<column name="Suburb" key="suburb" datatype="string" width="10%"></column>
					<column name="City" key="city" datatype="string" width="10%"></column>
					<column name="Code" key="code" datatype="string" width="10%"></column>
					<column name="Group" key="group" datatype="string" width="10%"></column>
					<column name="$ 12mnths" key="pend" datatype="string" width="10%"></column>
					<column name="$ balance" key="balance" datatype="string" width="10%"></column>
					<column name="" key="" datatype="" width="10%">
						<cell ng-non-bindable>
							<span class="inline-vertical">
								<a style="cursor:pointer">View</a>
							</span>
							<span class="inline-vertical">
								<a style="cursor:pointer">Edit</a>
							</span>
						</cell>
					</column>
				</columns>		
			</div>
	</div>
</div>
</div>