<div>
<div class="row pageHeader" style="padding:30px;">
	<div class="col-md-12 pageHeader">
		<span style="font-weight:bold;font-size:30px">Brands</span>
	</div>
</div>
<div class="row productBtns" style="padding:30px;">	
	<div class="productBtn" style="float:right;padding-right:15px;">
		<button class="btn btn-primary margin-top-1 wrap-text" style="font-size:18px;" data-ng-click="openAddPopup()">
		<i class="fa fa-plus registration-btn-image-small"></i><br/>
	          <span>Add Brand</span>
		</button>
	</div>
</div>
<div class="row" style="padding:30px;">
	<div class="col-md-12">
		<div data-responsive-table data-ng-model="brandData"  data-current-page="currentPageIndexArr"
				 class="full-width" data-page-size="pageSize" data-sort-column="selectedIndex" data-sort-ascending="isAsc"
				on-sort="sortColumnData(index)">
				<columns>
					<column name="Name" key="name" datatype="string" width="20%" sortable="true"></column>
					<column name="Descritpion" key="desc" datatype="string" width="40%"></column>
					<column name="Number of products" key="noofprod" datatype="string" width="25%"></column>
					<column name="" key="" datatype="" width="15%">
						<cell ng-non-bindable>
							<span class="inline-vertical">
								<a ng-click="navigateToProduct()" style="cursor:pointer;">ViewProducts</a>
							</span>
							<span class="glyphicon glyphicon-pencil" aria-hidden="true" style="color:#478FCA;"></span>
							<span class="glyphicon glyphicon-trash" aria-hidden="true" style="color:#DD5A43;"></span>
						</cell>
					</column>
				</columns>		
			</div>
	</div>
</div>
</div>