<div>
	<div class="row" style="padding-top:20px;">
		<section class="col-md-6 col-xs-12" ng-class="{'leftProductInfo':!device.isMobile}">
			<div class="panel-body inline-vertical">
				<div>
					<h2 class="page-header" style="font-size:16px;">Product Information</h2>
			
				</div>
				<div class="content display-table" >
					<div class="form-group display-row">
						<label for="productId" class="display-cell">Product ID:</label>
						<input  type="text" class="form-control display-cell" data-ng-model="prdouctId" id="productId"/>
						<div class="display-cell"><button class="btn btn-primary margin-top-1 wrap-text" style="font-size:14px;">Generate</button></div>
						<div class="display-cell"><button class="btn btn-primary margin-top-1 wrap-text" style="font-size:14px;">Unique Img</button></div>
					</div>
					<div class="form-group display-row">
						<label for="vendorId" class="display-cell">Vendor:</label>
						<div class="btn-group pull-left" dropdown is-open="status.isopen" ng-class="{'full-width': device.isMobile}">
				                <button type="button" class="btn btn-default dropdown-toggle drop-width" dropdown-toggle
				                ng-class="{'full-width left-align': device.isMobile}">
				                    <span ng-hide="selectedSearchType">Select Vendor</span>
				                    <span class="caret margin-left-caret"></span>
				                </button>
				                <ul class="dropdown-menu drp-min-width" role="menu">
				                    <li>
				                        <a ng-click="setSearchType()">Search By</a>
				                    </li>
				                </ul>
				            </div>
					</div>
					<div class="form-group display-row">
						<label for="description" class="display-cell">Desc:</label>
						<input  type="text" class="form-control display-cell" data-ng-model="description" id="description"/>
					</div>
					<div class="form-group display-row">
						<label for="depart" class="display-cell">Category:</label>
						<div class="btn-group pull-left" dropdown is-open="cat.isopen" ng-class="{'full-width': device.isMobile}">
				                <button type="button" class="btn btn-default dropdown-toggle drop-width" dropdown-toggle
				                ng-class="{'full-width left-align': device.isMobile}">
				                    <span ng-hide="selectedSearchType">Select Category</span>
				                    <span class="caret margin-left-caret"></span>
				                </button>
				                <ul class="dropdown-menu drp-min-width" role="menu">
				                    <li>
				                        <a ng-click="setSearchType()">Search By</a>
				                    </li>
				                </ul>
				            </div>
					</div>
					<div class="form-group display-row">
						<label for="upc" class="display-cell">Brand:</label>
						<div class="btn-group pull-left" dropdown is-open="brand.isopen" ng-class="{'full-width': device.isMobile}">
				                <button type="button" class="btn btn-default dropdown-toggle drop-width" dropdown-toggle
				                ng-class="{'full-width left-align': device.isMobile}">
				                    <span ng-hide="selectedSearchType">Select Vendor</span>
				                    <span class="caret margin-left-caret"></span>
				                </button>
				                <ul class="dropdown-menu drp-min-width" role="menu">
				                    <li>
				                        <a ng-click="setSearchType()">Search Brand</a>
				                    </li>
				                    
				                </ul>
				            </div>
					</div>
					<div class="form-group display-row">
						<label for="altNo" class="display-cell">Alt No:</label>
						<input  type="text" class="form-control display-cell" data-ng-model="altNo" id="altNo"/>
					</div>
				</div>
			</div>
		</section>
		<section class="col-md-6 col-xs-12 rightProductInfo">
			<div class="panel-body">
				<div class="headerPage">
					<h2 class="page-header" style="font-size:16px;">Retail</h2>
			
				</div>
				<div class="middlecontent display-table">
					<div class="display-row">
						<div class="form-group display-cell">
							<div><label for="cost" class="">CostPrice</label></div>
							<div><input  type="text" class="form-control" data-ng-model="cost" id="cost" style="width:100px;"/></div>
						</div>
						<div class="display-cell">
							<div><label>X</label></div>
						</div>
						<div class="form-group display-cell">
							<div><label for="Retail" class="">Markup</label></div>
							<div><input  type="text" class="form-control" data-ng-model="Retail" id="Retail" style="width:100px;"/></div>
						</div>
						<div class="display-cell">
							<div><label>=</label></div>
						</div>
						<div class="form-group display-cell">
							<div><label for="Retail" class="">RetailPrice</label></div>
							<div><input  type="text" class="form-control" data-ng-model="Retail" id="Retail" style="width:100px;"/></div>
						</div>
					</div>	
				</div>
		</div>
		<div class="panel-body">
				<div class="headerPage">
					<h2 class="page-header" style="font-size:16px;">Return Policy</h2>
			
				</div>
				<div class="content display-table">
					<div class="form-group display-row">
							<label for="Stock" class="display-cell">Quantity:</label>
							<div class="btn-group pull-left" dropdown is-open="return.isopen" ng-class="{'full-width': device.isMobile}">
				                <button type="button" class="btn btn-default dropdown-toggle drop-width" dropdown-toggle
				                ng-class="{'full-width left-align': device.isMobile}">
				                    <span ng-hide="selectedSearchType">Select Vendor</span>
				                    <span class="caret margin-left-caret"></span>
				                </button>
				                <ul class="dropdown-menu drp-min-width" role="menu">
				                    <li>
				                        <a ng-click="setSearchType()">Search Brand</a>
				                    </li>
				                    
				                </ul>
				            </div>
						</div>
				</div>
			</div>
		<div class="panel-body">
				<div class="headerPage">
					<h2 class="page-header" style="font-size:16px;">Stock in the Store</h2>
			
				</div>
				<div class="content display-table">
					<div class="form-group display-row">
							<label for="Stock" class="display-cell">Quantity:</label>
							<input  type="text" class="form-control display-cell" data-ng-model="Stock" id="Stock"/>
						</div>
						<div class="form-group display-row">
							<label for="Stock" class="display-cell">MinQuantity:</label>
							<input  type="text" class="form-control display-cell" data-ng-model="Stock" id="Stock"/>
						</div>
				</div>
			</div>
		</section>
<!-- 		<section class="col-md-4 col-xs-12 rightProductInfo">
			<div class="panel-body">
				<div class="headerPage">
					<h2 class="page-header" style="font-size:16px;">Stock in the Store</h2>
			
				</div>
				<div class="content display-table">
					<div class="form-group display-row">
							<label for="Stock" class="display-cell">Quantity:</label>
							<input  type="text" class="form-control display-cell" data-ng-model="Stock" id="Stock"/>
						</div>
						<div class="form-group display-row">
							<label for="Stock" class="display-cell">MinQuantity:</label>
							<input  type="text" class="form-control display-cell" data-ng-model="Stock" id="Stock"/>
						</div>
				</div>
			</div> -->
	<!-- 		<div class="panel-body">
				<div class="headerPage">
					<h2 class="page-header" style="font-size:16px;">Desired Stock Levels</h2>
			
				</div>
				<div class="content display-table">
					<div class="form-group display-row">
							<label for="Maximum" class="display-cell">Maximum:</label>
							<input  type="text" class="form-control display-cell" data-ng-model="Maximum" id="Maximum"/>
						</div>
						<div class="form-group display-row">
							<label for="Minimum" class="display-cell">Minimum:</label>
							<input  type="text" class="form-control display-cell" data-ng-model="Minimum" id="Minimum"/>
						</div>
				</div>
			</div> -->
			<!-- <div class="panel-body">
				<div class="headerPage">
					<h2 class="page-header" style="font-size:16px;">On Order</h2>
			
				</div>
				<div class="content display-table">
					<div class="form-group display-row">
							<label for="stock1" class="display-cell">Stock:</label>
							<input  type="text" class="form-control display-cell" data-ng-model="stock1" id="stock1"/>
						</div>
						<div class="form-group display-row">
							<label for="special" class="display-cell">Specials:</label>
							<input  type="text" class="form-control display-cell" data-ng-model="special" id="special"/>
						</div>
				</div>
			</div> -->
			
		<!-- </section> -->
	</div>
	<div class="row">
		<div class="bottomButtons" style="text-align:center;">
			<button class="btn btn-primary margin-top-1 wrap-text" style="width:10%;font-size:18px;">Next</button>
			<button class="btn btn-primary margin-top-1 wrap-text" style="width:10%;font-size:18px;">OK</button>
			<button class="btn btn-primary margin-top-1 wrap-text" style="width:10%;font-size:18px;">Cancel</button>
		</div>
	</div>
	
</div>