<div>
	<div class="row">
		<section class="col-md-6 col-xs-6 leftProductInfo">
			<div class="panel-body inline-vertical">
				<div>
					<h2 class="page-header" style="font-size:16px;">Product Information</h2>
			
				</div>
				<div class="content display-table" >
					<div class="form-group display-row">
						<label for="productId" class="display-cell">Product No:</label>
						<input  type="text" class="form-control display-cell" data-ng-model="prdouctId" id="productId"/>
					</div>
					<div class="form-group display-row">
						<label for="vendorId" class="display-cell">Vendor:</label>
						<input  type="text" class="form-control display-cell" data-ng-model="vendorId" id="vendorId"/>
					</div>
					<div class="form-group display-row">
						<label for="description" class="display-cell">Desc:</label>
						<input  type="text" class="form-control display-cell" data-ng-model="description" id="description"/>
					</div>
					<!-- <div class="form-group display-row">
						<label for="detDescription" class="display-cell">Detailed Description:</label>
						<textarea  class="form-control display-cell" data-ng-model="detDescription" id="detDescription"></textarea>
					</div> -->
					<!-- <div class="form-group display-row">
						<label for="code" class="display-cell">Code:</label>
						<input  type="text" class="form-control display-cell" data-ng-model="code" id="code"/>
					</div> -->
					<div class="form-group display-row">
						<label for="depart" class="display-cell">Category:</label>
						<input  type="text" class="form-control display-cell" data-ng-model="depart" id="depart"/>
					</div>
					<!-- <div class="form-group display-row">
						<label for="upc" class="display-cell">UPC:</label>
						<input  type="text" class="form-control display-cell" data-ng-model="upc" id="upc"/>
					</div> -->
					<div class="form-group display-row">
						<label for="altNo" class="display-cell">Alt No:</label>
						<input  type="text" class="form-control display-cell" data-ng-model="altNo" id="altNo"/>
					</div>
					<div class="form-group display-row">
							<label for="cost" class="display-cell">Cost Price:</label>
							<input  type="text" class="form-control display-cell" data-ng-model="cost" id="cost"/>
						</div>
						<div class="form-group display-row">
							<label for="Retail" class="display-cell">Retail Price:</label>
							<input  type="text" class="form-control display-cell" data-ng-model="Retail" id="Retail"/>
						</div>
				</div>
			</div>
		</section>
<!-- 		<section class="panel col-md-4 col-xs-6 rightProductInfo">
			<div class="panel-body">
				<div class="content display-table">
					<div class="form-group display-row">
							<label for="cost" class="display-cell">Cost:</label>
							<input  type="text" class="form-control display-cell" data-ng-model="cost" id="cost"/>
						</div>
						<div class="form-group display-row">
							<label for="Retail" class="display-cell">Retail:</label>
							<input  type="text" class="form-control display-cell" data-ng-model="Retail" id="Retail"/>
						</div>
				</div>
		</div>
		</section> -->
		<section class="col-md-6 col-xs-6 rightProductInfo">
			<div class="panel-body">
				<div class="headerPage">
					<h2 class="page-header" style="font-size:16px;">Stock in the Store</h2>
			
				</div>
				<div class="content display-table">
					<div class="form-group display-row">
							<label for="Stock" class="display-cell">Quantity:</label>
							<input  type="text" class="form-control display-cell" data-ng-model="Stock" id="Stock"/>
						</div>
						<div class="form-group display-row">
							<label for="Stock" class="display-cell">Min Quantity:</label>
							<input  type="text" class="form-control display-cell" data-ng-model="Stock" id="Stock"/>
						</div>
				</div>
			</div>

			<!-- <div class="panel-body">
				<div class="headerPage">
					<h2 class="page-header" style="font-size:16px;">On Order</h2>
			
				</div>
				<div class="content display-table">
					<div class="form-group display-row">
							<label for="stock1" class="display-cell">Stock:</label>
							<input  type="text" class="form-control display-cell" data-ng-model="stock1" id="stock1"/>
						</div>
						<div class="form-group display-row">
							<label for="special" class="display-cell">Specials:</label>
							<input  type="text" class="form-control display-cell" data-ng-model="special" id="special"/>
						</div>
				</div>
			</div> -->
			
		</section>
	</div>
	<div class="row">
		<div class="bottomButtons" style="text-align:center;">
			<button class="btn btn-primary margin-top-1 wrap-text" style="width:10%;font-size:18px;">Next</button>
			<button class="btn btn-primary margin-top-1 wrap-text" style="width:10%;font-size:18px;">OK</button>
			<button class="btn btn-primary margin-top-1 wrap-text" style="width:10%;font-size:18px;">Cancel</button>
		</div>
	</div>
	
</div>