<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Order Confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>

    <span>Dear</span> <span th:text="${firstName}"></span>

    <p> Thank You for shopping with ExcelWireless, Please find your order details below.</p>

    <br />
    <br />

    <h2>Shipping Address</h2>
    <h3 th:text="${firstName}">firstName</h3>
    <h3 th:text="${companyName}">companyName</h3>
    <h3 th:text="${addressLine}">addressLine</h3>
    <h3 th:text="${City}">City</h3>
    <h3 th:text="${State}">State</h3>
    <h3 th:text="${zipcode}">zipcode</h3>
    <h3 th:text="${phoneNo}">phoneNo</h3>
</div>
<hr />
<div>
    <table>
        <tr>
            <th>Description</th>
            <th>SKU</th>
            <th>Quantity</th>
            <th>Retail</th>
            <th>Total</th>
        </tr>

        <tr th:each="lineItem : ${lineItem}">

            <td th:text="${lineItem.ProductDescription}">ProductDescription</td>
            <td th:text="${lineItem.productNumber}">productNumber</td>
            <td th:text="${lineItem.quantity}">quantity</td>
            <td th:text="${lineItem.retail}">productNumber</td>
            <td th:text="${lineItem.totalProductPrice}">quantity</td>

        </tr>

    </table>
</div>

<hr />
<div>

    <span>Subtotal:$</span> <span th:text="${subtotal}"></span>
    <br />
    <span>Shipping:$</span> <span th:text="${shipping}">Subtotal:</span>
    <br />
    <span>Quantity:</span> <span th:text="${quantity}">quantity</span>
    <br />
    <span>GrandTotal:$</span>  <span th:text="${grandTotal}">grandTotal</span>

</div>

</body>
</html>