<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Order Confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

</style>
</head>
<body>
<div>

    <span>Dear</span> <span th:text="${firstName}"></span>

    <p> Thank You for shopping with ExcelWireless, Please find your order details below.</p>

    <br />
    <br />

    <h2>Shipping Address</h2>
    <h3 th:text="${firstName}">firstName</h3>
    <h3 th:text="${companyName}">companyName</h3>
    <h3 th:text="${addressLine}">addressLine</h3>
    <h3 th:text="${City}">City</h3>
    <h3 th:text="${State}">State</h3>
    <h3 th:text="${zipcode}">zipcode</h3>
    <h3 th:text="${phoneNo}">phoneNo</h3>
</div>
<hr />
<div style="overflow-x:auto;">
    <table class="table table-bordered table-striped">
        <tr>
            <th style="width: 00px">Description</th>
            <th>SKU</th>
            <th>Quantity</th>
            <th>Retail</th>
            <th>RetailWithDis</th>
            <th>Total</th>
        </tr>

        <tr th:each="lineItem : ${lineItem}">

            <td th:text="${lineItem.ProductDescription}">ProductDescription</td>
            <td th:text="${lineItem.productNumber}">ProductNumber</td>
            <td th:text="${lineItem.quantity}">Quantity</td>
            <td th:text="${lineItem.retail}">Retail</td>
            <td th:text="${lineItem.retailWithDis}">productNumber</td>
            <td th:text="${lineItem.totalProductPrice}">quantity</td>

        </tr>

    </table>
</div>

<hr />
<div style="align: right; text-align: right; ">

    <span style="display: inline-block; margin-top: 5px; font-size: 20px;">Subtotal: $</span> <span th:text="${subtotal}" style="display: inline-block; margin-top: 5px; font-size: 20px;"></span>
    <br />
    <span style="display: inline-block; margin-top: 5px; font-size: 20px;">Shipping: $</span> <span th:text="${shipping}" style="display: inline-block; margin-top: 5px; font-size: 20px;"></span>
    <br />
    <span style="display: inline-block; margin-top: 5px; font-size: 20px;">Quantity:  </span> <span th:text="${quantity}" style="display: inline-block; margin-top: 5px; font-size: 20px;">quantity</span>
    <br />
    <span style="display: inline-block; margin-top: 5px; font-size: 20px;">Discount: $</span> <span th:text="${discount}" style="display: inline-block; margin-top: 5px; font-size: 20px;">quantity</span>
    <br />
    <span style="display: inline-block; margin-top: 5px; font-size: 20px;">Previous Balance: $</span> <span th:text="${previousBalance}" style="display: inline-block; margin-top: 5px; font-size: 20px;"></span>
    <br />
    <span style="display: inline-block; margin-top: 5px; font-size: 20px;">Sales Tax: $</span> <span th:text="${salesTax}" style="display: inline-block; margin-top: 5px; font-size: 20px;"></span>
    <br />
    <span style="display: inline-block; margin-top: 5px; font-size: 20px; color: #4CAF50;">GrandTotal: $</span>  <span th:text="${grandTotal}" style="display: inline-block; margin-top: 5px; font-size: 20px; color: #4CAF50;">grandTotal</span>
    <br />
    <span style="display: inline-block; margin-top: 5px; font-size: 20px; color: red;">Balance: $</span>  <span th:text="${balance}" style="display: inline-block; margin-top: 5px; font-size: 20px; color: red;">grandTotal</span>

</div>

</body>
</html>