<div print-remove>
<div class="row pageHeader" style="padding:30px;">
	<div class="col-md-12 pageHeader">
		<span style="font-weight:bold;font-size:30px">Sales History</span>
	</div>
</div>
<div class="row productBtns" style="padding:30px;">	

	<div class="col-md-4 productBtn">
		
		<div class="form-group">
						<label for="sales_Date" class="required">Start Date</label>
						<div class="input-group calendar-group fromDate">
							<input type="text" style="height:52px;width:100%;" ng-model="startDate" class="form-control fromDate" datepicker-popup="{{'MM/dd/yyyy'}}" required
							ng-model-options="{allowInvalid: true}" name="startDate" restricted-characters="dateRegex"
							is-open="openStart"  date-cleared="dateCleared"  date-length="10"
							id="startDate" placeholder="mm/dd/yyyy">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openStartCalendar($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button> </span>
						</div>
					
					</div>
	 </div> 
	 <div class="col-md-4 productBtn">
		
		<div class="form-group">
						<label for="sales_Date" class="required">End Date</label>
						<div class="input-group calendar-group fromDate">
							<input type="text" style="height:52px;width:100%;" ng-model="endDate" class="form-control fromDate" datepicker-popup="{{'MM/dd/yyyy'}}" required
							ng-model-options="{allowInvalid: true}" name="endDate" restricted-characters="dateRegex"
							is-open="openEnd"  date-cleared="dateCleared"  date-length="10"
							id="endDate" placeholder="mm/dd/yyyy">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openEndCalendar($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button> </span>
						</div>
					
					</div>
	 </div>
	 <div class="col-md-4 productBtn">
		<div class="padding-bottom-5"><label>Search For Customers</label></div>
		<div>
			<input  type="text" class="form-control" data-ng-model="customerPhone" id="customerPhone" style="height:52px;width:100%;" ng-change="checkfilterValue()" ng-enter="filterSalesHistory(customerPhone)" />
		</div>
	 </div>    
	 <div class="col-md-4 productBtn">
		<div class="padding-bottom-5"><label>Search By Receipt Number</label></div>
		<div>
			<input  type="text" class="form-control" data-ng-model="receiptNumber" id="receiptNumber" style="height:52px;width:100%;" ng-change="checkfilterValue()" ng-enter="filterSalesHistory(receiptNumber)"/>
		</div>
	 </div>  

</div>
<div class="row" style="padding:30px;">
	<div class="col-md-12">
		<div data-responsive-table data-ng-model="salesHistory"  data-current-page="currentPageIndexArr"
				 class="full-width" data-page-size="pageSize" data-sort-column="selectedIndex" data-sort-ascending="isAsc"
				on-sort="sortColumnData(index)" data-filter-value="filterVlaue">
				<columns>
					<column name="Date" key="transactionDate" datatype="string" width="25%" sortable="true"></column>
					<column name="CustomerPhone" key="customerPhoneno" datatype="string" width="15%"></column>
					<column name="UserID" key="userId" datatype="string" width="10%"></column>
					
					<column name="Tax" key="tax" datatype="string" width="5%"></column>
					<column name="Discount" key="discount" datatype="string" width="5%"></column>
					<column name="TotalAmount" key="totalAmount" datatype="string" width="10%"></column>
					<column name="Receipt No" key="transactionCompId" datatype="string" width="15%"></column>
					
					<column name="" key="" datatype="" width="20%">
						<cell ng-non-bindable>
						<span class="inline-vertical">
								
								<span class="fa fa-share"  style="color:#478FCA;cursor:pointer;" ng-click="scope.navigateToReturnPage(row.transactionDate,row.transactionCompId)"></span>
							</span>
							<span class="inline-vertical padding-left-10">
								<span class="glyphicon glyphicon-print" aria-hidden="true" style="color:#478FCA;cursor:pointer;"   ng-click="scope.print(row.transactionCompId)"></span>
							</span>
						</cell>
					</column>
				</columns>		
			</div>
	</div>
</div>

</div>
<div print-section>
<div print-only>
<div class="row" style="padding:30px">
	<div class="customerName">
		<span>{{receiptData.username}}</span>
	</div>
</div>
<div class="row" style="padding:30px;">
<div class="col-md-12">
		<div data-responsive-table data-ng-model="receiptData"  data-current-page="currentPageIndexArr"
				 class="full-width" data-page-size="pageSize" data-sort-column="selectedIndex" data-sort-ascending="isAsc"
				on-sort="sortColumnData(index)">
				<columns>
					<column name="Date" key="transactionDate" datatype="string" width="25%" sortable="true"></column>
					<column name="CustomerPhone" key="customerPhoneNo" datatype="string" width="15%"></column>
					<column name="UserID" key="userId" datatype="string" width="10%"></column>
					<column name="PaidAmount" key="paidAmount" datatype="string" width="10%"></column>
					<column name="ChangeAmount" key="changeAmount" datatype="string" width="10%"></column>
					<column name="Tax" key="tax" datatype="string" width="5%"></column>
					<column name="Discount" key="transactionDiscount" datatype="string" width="5%"></column>
					<column name="TotalAmount" key="totalAmount" datatype="string" width="10%"></column>
					<column name="Receipt No" key="transactionCompId" datatype="string" width="15%"></column>

				</columns>		
			</div>
	</div>
</div>
</div>
</div>