<div print-remove>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" data-ng-click="closePopup()">&times;</button>
		<h4 class="modal-title" style="font-size:24px;">Payment</h4>
	</div>
	<div class="modal-body">
		<div class="row cashbuttons alignCenter">
			<div class="inline-vertical">CASH</div>
			<div class="inline-vertical"><input type="text" class="form-control" data-restrict-characters="restrictCharacter.NumericWithPeriod.regExp" placeholder="$O.00" ng-model="cashPayout" ng-blur="calculateAmount(cashPayout,'cash')"/></div>
			<div class="inline-vertical"><button type="button" class="btn btn-primary" style="width:75px;font-size:28px;" ng-click="payOutMax('cash')" disabled="disabled">Max</button></div>
		</div>
		<div class="row priceBtns alignCenter padding-top-10">
			<div class="inline-vertical"><button type="button" class="btn btn-primary" style="width:75px;font-size:28px;" ng-click="calculateAmount(1,'cash')">$1</button></div>
			<div class="inline-vertical"><button type="button" class="btn btn-primary" style="width:75px;font-size:28px;" ng-click="calculateAmount(5,'cash')">$5</button></div>
			<div class="inline-vertical"><button type="button" class="btn btn-primary" style="width:75px;font-size:28px;" ng-click="calculateAmount(10,'cash')">$10</button></div>
			<div class="inline-vertical"><button type="button" class="btn btn-primary" style="width:75px;font-size:28px;" ng-click="calculateAmount(20,'cash')">$20</button></div>
			<div class="inline-vertical"><button type="button" class="btn btn-primary" style="width:75px;font-size:28px;" ng-click="calculateAmount(50,'cash')">$50</button></div>
			<div class="inline-vertical"><button type="button" class="btn btn-primary" style="width:75px;font-size:28px;" ng-click="calculateAmount(100,'cash')">$100</button></div>
		</div>
		<div class="row cashbuttons alignCenter padding-top-10">
			<div class="inline-vertical">
				<span class="displayBlock">CREDIT</span> 
				<span>CARD</span>
			</div>
			<div class="inline-vertical"><input type="text" class="form-control" data-restrict-characters="restrictCharacter.NumericWithPeriod.regExp" placeholder="$O.00" ng-model="creditCardPayout" ng-blur="calculateAmount(creditCardPayout,'credit')" /></div>
			<div class="inline-vertical"><button type="button" class="btn btn-primary" style="width:75px;font-size:28px;" ng-click="payOutMax('credit')" disabled="disabled">Max</button></div>
		</div>
		<div class="row alignCenter cashbuttons padding-top-10">
			<div class="inline-vertical"><span class="displayBlock">DEBIT</span><span>CARD</span></div>
			<div class="inline-vertical" style="padding-left:12px;"><input type="text" class="form-control" placeholder="$O.00" ng-model="debitCardPayout" ng-blur="calculateAmount(debitCardPayout,'debit')" /></div>
			<div class="inline-vertical"><button type="button" class="btn btn-primary"style="width:75px;font-size:28px;" ng-click="payOutMax('debit')" disabled="disabled">Max</button></div>
		</div>
		<div class="row checkbuttons alignCenter padding-top-10">
			<div class="inline-vertical">CHECK</div>
			<div class="inline-vertical" style="padding-left:8px;"><input type="text" class="form-control" placeholder="$O.00" ng-model="checkPayout" ng-blur="calculateAmount(checkPayout,'check')" /></div>
			<div class="inline-vertical"><button type="button" class="btn btn-primary"  style="width:75px;font-size:28px;"  ng-click="payOutMax('check')" disabled="disabled">Max</button></div>
		</div>
				
	</div>
	<div class="modal-footer">
	 <div class="row alignCenter">
	 	<div class="col-md-4">
		<div class="inline-block" style="font-size:20px;">Total</div>
		<div class="inline-block" style="padding-left:10px;font-size: 30px;"><span  ng-model="checkPayment" >{{checkPayment}}</span></div>
		</div>
		 <div class="col-md-4">
			 <button type="button" ng-if="GlobalVariable.customerFound" class="btn btn-primary" style="" ng-click="makePartialPayment()">Make Partial Payment</button>

		 </div>
		<div class="col-md-4">
		<div class="inline-block" style="font-size:20px;">Balance</div>
		<div class="inline-block" style="padding-left:10px;font-size: 30px;"><span class="color-red" ng-model="balanceAmount" ng-class="{'color-green':color}" >{{balanceAmount}}</span></div>
		</div>
 	</div>	
	</div>
</div>
