<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
        <title>My Sample App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale=1 , user-scalable=no">
        <link href="assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="assets/css/bootstrap.css" rel="stylesheet">
        <link href="assets/css/angularPrint.css" rel="stylesheet">
       <link href="assets/css/custom.css" rel="stylesheet">
       <script type="text/javascript" src="libs/jquery.js"></script>
       <script type="text/javascript" src="libs/jquery-ui.js"></script>
       <script type="text/javascript" src="libs/daterangepicker.js"></script>
       <script type="text/javascript" src="libs/moment.min.js"></script>
       <script type="text/javascript" src="libs/bootstrap.js"></script>
       <script type="text/javascript" src="libs/angular.js"></script>
       <script type="text/javascript" src="libs/angular-route.js"></script>
       <script type="text/javascript" src="libs/angular-sanitize.js"></script>
       <script type="text/javascript" src="libs/angular-loader.js"></script>
       <script type="text/javascript" src="libs/angular-resource.js"></script>
       <script type="text/javascript" src="libs/angular-cookies.js"></script>
       <script type="text/javascript" src="libs/angular-aria.js"></script>
       <script type="text/javascript" src="libs/angular-animate.js"></script>
       <script type="text/javascript" src="libs/angular-ui-router.js"></script>
       <script type="text/javascript" src="libs/ui-bootstrap-tpls-0.12.0.js"></script>
       <script type="text/javascript" src="libs/ui-utils.js"></script>
       <script type="text/javascript" src="libs/ui-utils.js"></script>
       <script type="text/javascript" src="libs/angular-match-media.js"></script>
       <script type="text/javascript" src="libs/angular-messages.js"></script>
       <script type="text/javascript" src="libs/d3.js"></script>
       <script type="text/javascript" src="libs/uiswitch.js"></script>
       <script type="text/javascript" src="libs/angularPrint.js"></script>
       <script type="text/javascript" src="libs/Chart.js"></script>
       <script type="text/javascript" src="libs/angular-chart.js"></script>
       
       
       <script type="text/javascript" src="app/app.js"></script>
       <script type="text/javascript" src="app/common/utils.js"></script>
       <script type="text/javascript" src="app/common/device.utility.js"></script>
       <script type="text/javascript" src="app/common/compileBindHtml.js"></script>
       <script type="text/javascript" src="app/common/compileHtml.js"></script>
       <script type="text/javascript" src="app/common/DialogFactory.js"></script>
       <script type="text/javascript" src="app/common/startFrom.filter.js"></script>
       <script type="text/javascript" src="app/common/GlobalVariable.js"></script>
       <script type="text/javascript" src="app/common/ngEnter.directive.js"></script>
       <script type="text/javascript" src="app/common/restrictCharacters.directive.js"></script>
       <script type="text/javascript" src="app/common/restrictedCharacters.constants.js"></script>
       <script type="text/javascript" src="app/common/restrictSpecialChars.directive.js"></script>
       <script type="text/javascript" src="app/common/restrictTag.directive.js"></script>
       <script type="text/javascript" src="app/common/AutoSearch.directive.js"></script>
       <script type="text/javascript" src="app/common/modalService.js"></script>
       <script type="text/javascript" src="app/common/ModalPopupController.js"></script>
       <script type="text/javascript" src="app/common/responsiveTable.directive.js"></script>
       <script type="text/javascript" src="app/common/dataService.js"></script>
       <script type="text/javascript" src="app/common/GetProductDetailsService.js"></script>
       <script type="text/javascript" src="app/mainPage/SideBar.controller.js"></script>
       <script type="text/javascript" src="app/mainPage/sidebar.directive.js"></script>
       <script type="text/javascript" src="app/mainPage/body.controller.js"></script>
       <script type="text/javascript" src="app/login/loginController.js"></script>
       <script type="text/javascript" src="app/product/historyController.js"></script>
       <script type="text/javascript" src="app/product/mainProduct.controller.js"></script>
       <script type="text/javascript" src="app/product/AddPopup.controller.js"></script>
       <script type="text/javascript" src="app/product/productController.js"></script>
       <script type="text/javascript" src="app/product/brand.controller.js"></script>
       <script type="text/javascript" src="app/product/supplier.controller.js"></script>
       <script type="text/javascript" src="app/product/vendor.controller.js"></script>
       <script type="text/javascript" src="app/sell/paymentController.js"></script>
       <script type="text/javascript" src="app/AddCustomer/addcustomer.controller.js"></script>
       <script type="text/javascript" src="app/sell/sellController.js"></script>
       <script type="text/javascript" src="app/Ledger/ledger.controller.js"></script>
       <script type="text/javascript" src="app/Setup/setup.controller.js"></script>
       <script type="text/javascript" src="app/AddCustomer/mainCustomer.controller.js"></script>
       <script type="text/javascript" src="app/Report/report.controller.js"></script>
</head>
<body ng-controller="BodyController as bodyCtrl" class="bodyClass" ng-class="{'login-background':GlobalVariable.isLoginPage,'main-background':!GlobalVariable.isLoginPage}">

	<section class="fixed-header-wrap" print-remove>
		<header class="mainHeader" ng-show="!GlobalVariable.isLoginPage">
			<div class="leftItems">
			<a class="toggle-nav" data-ng-click="openNav()" ng-show="!device.isTC70 && (device.isMobile || device.isTablet)"> <i class="fa fa-bars"></i> </a>
				<img class="nickImage" src="./assets/images/leftImage.JPG"/>
				<span class="nickText">Nicks</span>
			
			</div>
			<div class="headerRightItems">
			
				<div class="help inline-vertical padding-right-30">
					<span> Help </span>
				</div>
				<div class="headerImage inline-vertical padding-right-30">
					<img src="./assets/images/bell.JPG"/>
				</div>
				<div class="headerName inline-vertical">
				
					<span>Alok Patel</span>
				</div>
			</div>
		</header>
	</section>
		
<div class="wrapper clearfix" id="wrapper">
            <div id="inner" class="inner clearfix">
            	<div class="sidebar"  ng-show="!GlobalVariable.isLoginPage" print-remove>
            		<side-nav></side-nav>
            	</div>
                <div class="inner-views" ng-class="{'desktop-view':device.isDesktop,'tablet-view':device.isTablet}">
                    <div class="admin-content">
                        <ui-view class="container-fluid" style="overflow:hidden;"></ui-view>
                    </div>
                </div>
            </div>
        </div>
        <div   print-only style="font-size:20px;margin-left:15px;margin-right:15px;">
<div class="printImage" style="text-align:center;border-bottom:1px solid #ddd;padding-top:10px;padding-left:10px;padding-bottom:10px;"">
<img alt="" src="./assets/images/final-logo.png" height="50">
</div>
<div class="printImage" style="text-align:left;border-bottom:1px solid #ddd;padding-left:10px;padding-top:10px;padding-bottom:10px;">
<div><span>Date:</span><span style="padding-left:10px;">{{GlobalVariable.receiptData[0].transactionDate}}</span></div>
<div><span>Receipt #:</span><span style="padding-left:10px;">{{GlobalVariable.receiptData[0].transactionCompId}}</span></div>

</div>
<div style="text-align:left;border-bottom:1px solid #ddd;padding-top:10px;padding-left:10px;padding-bottom:10px;">
	<div class="customerName">
		<span>{{GlobalVariable.receiptData[0].username}}</span>
	</div>
	<div><span>Phone Number:</span><span style="padding-left:10px;">{{GlobalVariable.receiptData[0].customerPhoneNo}}</span></div>
</div>

<div style="padding-top:10px;padding-bottom:10px;">
		<div data-responsive-table data-ng-model="GlobalVariable.receiptData"  data-current-page="currentPageIndexArr"
				 class="full-width" data-page-size="pageSize" data-sort-column="selectedIndex" data-sort-ascending="isAsc"
				on-sort="sortColumnData(index)">
				<columns>
					
					
					<column name="Product Id" key="productId" datatype="string" width="16%"></column>
					<column name="Quantity" key="quantity" datatype="string" width="16%"></column>
					<column name="Retail" key="retail" datatype="string" width="16%"></column>
					<column name="Payment/Cash" key="paidAmount" datatype="string" width="16%"></column>
					<column name="Payment/Credit" key="paidAmountMulty" datatype="string" width="16%"></column>

				</columns>		
			</div>
	</div>
	
		<div class="row totalColumn display-table tableMainProp" align="center">
				<div class="display-row">
					<div class=" inline-vertical display-cell align-left">Tax:</div>
					<div class=" inline-vertical display-cell align-left padding-left-40" ng-model="totalQuantity">{{GlobalVariable.receiptData[0].tax}}</div>
				</div>
				<div class="display-row">	
					<div class="padding-top-10 inline-vertical display-cell align-left">Discount:</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40" ng-model="subTotal">{{GlobalVariable.receiptData[0].transactionDiscount}}</div>
				</div>
				<div class="display-row">		
					<div class="padding-top-10 inline-vertical display-cell align-left">Total Amount</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40">{{GlobalVariable.receiptData[0].totalAmount}}</div>
				</div>	
				<div class="display-row">	
					<div class="padding-top-10 inline-vertical display-cell align-left">Paid Amount</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40">{{GlobalVariable.receiptData[0].paidAmount}}</div>
					</div>	
				<div class="display-row">	
					<div class="padding-top-10 inline-vertical display-cell align-left">Change Amount</div>
					<div class="padding-top-10 inline-vertical display-cell align-left padding-left-40" ng-model="productTotal">{{GlobalVariable.receiptData[0].changeAmount}}</div>
				</div>
			</div>
			<div style="text-align:center;padding-top:20px;font-size:15px;">
				<span>*** Customer Copy ***</span>
			</div>
			<div style="text-align:left;padding-top:20px;font-size:10px;">
				<span>Thank You For ouur business!</span>
			</div>
	</div>



<footer>

</footer>

</body>
</html>